---
title: "Fees"
icon: "icons/fee.png"
description: ""
keywords: []
url:
  legacy: "/saturdayschool/fees/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">Saturday School - <%= current_page.data.title %></h1>

      <h2>English Language Program</h2>
      <ul class="list-unstyled">
        <li>Interview day fee: No charge</li>
        <li>Registration fee: ¥21,000 (Only for the first year, non- refundable. This includes the school bag)</li>
        <li>Tuition fee: ¥144,000 a year (Lump sum payment only)</li>
        <li>Books and Materials Fee: ¥5,000</li>
        <li>Trial Lesson Fee: ¥5,000</li>
      </ul>

      <h2>Move to Learn</h2>
      <ul class="list-unstyled">
        <li>Interview day fee: No charge</li>
        <li>Registration fee: ¥21,000 (Only for the first year, non-refundable. This includes the school bag.</li>
        <li>Tuition fee: ¥165,000 a year (Lump sum payment only)</li>
        <li>Books and Materials Fee: ¥25,000</li>
        <li>Trial Lesson Fee: ¥7,000</li>
      </ul>

      <h2>German Language Program</h2>
      <ul class="list-unstyled">
        <li>Trial lesson fee: ¥5,000</li>
        <li>Registration fee: ¥21,000 (Only for the first year, non- refundable. This includes the school bag)</li>
        <li>Tuition fee: ¥144,000 a year (Lump sum payment only)</li>
        <li>Books and Materials Fee: ¥3,000</li>
      </ul>

      <h2>French Language Program</h2>
      <ul class="list-unstyled">
        <li>Trial lesson fee: ¥ 5,000</li>
        <li>Registration fee: ¥ 21,000 (Only for the first year, non- refundable. This includes the school bag)</li>
        <li>Tuition fee: ¥ 144,000 a year (Lump sum payment only)</li>
        <li>Books and Materials Fee: ¥3,000 </li>
      </ul>
    </div>

    <div class="col-md-3 offset-md-1">
      <h3 class="mt-3">Go back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Back to main Saturday School page', local_path('saturdayschool') %></li>
      </ul>
    </div>
  </div>
</div>
