---
title: "Eligibility"
description: ""
keywords: []
url:
  legacy: "/saturdayschool/eligibility-2/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">Eligibility</h1>

      <p>All children applying for the  Saturday School program at DSK International must have a sufficient language proficiency for their age level to join the specific program.</p>

      <p class="lead font-weight-bold">English</p>
      <p>Students are required to apply and attend an interview for enrollment. Interviews are offered in July and January.</p>

      <p class="lead font-weight-bold">German & French</p>
      <p>Students are required to apply and attend a trial day. Following a successful trial day, students can be enrolled full time.</p>
    </div>

    <div class="col-md-3 offset-md-1">
    </div>
  </div>
</div>
