---
title: "諸費用：DSK Internationalのサタデースクール"
description: ""
keywords: []
url:
  legacy: "/saturdayschool-jpn/fees-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">諸費用と授業日程</h1>

      <h2>英語のプログラム</h2>
      <ul class="list-unstyled">
        <li>面接費：無料です</li>
        <li>登録費：21,000円（初年度のみ、返金なし、料金にスクールバッグor学生カバンも含む）</li>
        <li>授業料：144,000円/年（一括払いのみ）</li>
        <li>教科書とノートブック費：5,000円（英語のみ）</li>
        <li>トライアルディ費用：5,000円（受験生のみ）</li>
      </ul>

      <h2>Move to Learnのプログラム</h2>
      <ul class="list-unstyled">
        <li>面接費：無料です</li>
        <li>登録費：21,000円（初年度のみ、返金なし、料金にスクールバッグor学生カバンも含む）</li>
        <li>授業料：165,000円/年（一括払いのみ）</li>
        <li>教科書とノートブック費：25,000円（英語のみ）</li>
        <li>トライアルディ費用：7,000円（受験生のみ）</li>
      </ul>

      <h2>ドイツ語のプログラム</h2>
      <ul class="list-unstyled">
        <li>トライアルディ費用：5,000円（受験生のみ）</li>
        <li>登録費：21,000円（初年度のみ、返金なし、料金にスクールバッグor学生カバンも含む）</li>
        <li>授業料：144,000円/年（一括払いのみ）</li>
        <li>教科書とノートブック費：3,000円</li>
      </ul>

      <h2>フランス語のプログラム</h2>
      <ul class="list-unstyled">
        <li>トライアルディ費用：5,000円（受験生のみ）</li>
        <li>登録費：21,000円（初年度のみ、返金なし、料金にスクールバッグor学生カバンも含む）</li>
        <li>授業料：144,000円/年（一括払いのみ）</li>
        <li>教科書とノートブック費：3,000円 </li>
      </ul>
    </div>

    <div class="col-md-3 offset-md-1">
    </div>
  </div>
</div>
