---
title: "フランス語プログラム：DSK"
description: ""
keywords: []
url:
  legacy: "/saturdayschool-jpn/french-programme-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">フランス語プログラム</h1>

      <h2>目的</h2>
      <ol>
        <li>子供たちにフランス語で総合的な言語支援を提供する。</li>
        <li>子供たちの言語レベルが向上することに専ら重点を置き、プログラムに参加するすべての子供たちが、プログラム終了までに、フランス語の応用力、使用について、より自信を持ち、より高いスキルを身に着けることを目指す。</li>
      </ol>

      <h2>カリキュラム</h2>
      <p>リキュラムには、以下のいずれかまたはすべてを含みます。クラスのレベルに応じて、スピーキングとコミュニケーション、質疑応答、語彙力、リーディング、ライティング、文法、理解力、個別のライティングタスク、プレゼンテーションの作成と発表、演説等。</p>

      <h2>資格</h2>
      <p>既にある程度のフランス語力を保有する5歳から12歳の子供で、家族に少なくとも1名のフランス語を話す親かメンバーがいること。</p>

      <h2>フランス語プログラムの重要事項v</h2>
      <ul>
        <li>1年のプログラムに30日のクラスがあります（9月から6月）。各クラスは、午前9時始まりで、正午終了の3時間です。</li>
        <li>通常、プログラムに参加する子供たちの総人数によって、年齢だけでなく、英語のレベルや能力も考慮して、子供たちを2つ以上のクラスに分けます。その場合、1つのクラスに異なるレベルの子供たちが一緒になる場合もあることをご了承ください。しかし、教師は、各クラスで、子供たちをできるだけ同等レベルの小グループに分け、クラスのすべての子供たちが平等に学んでいけるよう、適切な教育方法を導入するようにいたします。子供たちの人数が非常に多いクラスの場合には、学校の判断で、主任教師を手助けするアシスタント教師を入れることを検討する場合もあります。</li>
        <li>子供たちは、年齢ではなく、能力に応じたクラスに入ります。</li>
        <li>どのレベルのクラスも、最少5名の人数が必要です。子供たちと教師の割合は、有効な結果を出せるレベルを維持します。子供たちの数が非常に多いクラスの場合には、学校の判断により、クラスに主任教師を手助けするアシスタント教師を入れることを検討する可能性があります。</li>
        <li>宿題は、通常各クラスで子供たちに与えられ、ご両親には、宿題についてお知らせし、子供たちがご家庭で宿題を完成させるお手伝いをお願いします（子供たちが宿題の完成に困難がある場合）。</li>
        <li>年に2回、その学期の間におけるそれぞれの強み、成長、レベル、実績を評価する学期レポートを各子供たちに提供します。</li>
        <li>翌年も引き続きプログラムを受講する子供たちには、年末に、子供たちの進捗状況によって、上のレベルに上がることがふさわしいか、同じクラスにもう1年とどまるかを評価します。</li>
      </ul>

    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>申請書</h3>

      <p class="lead font-weight-bold">フランス語・スクール</p>
      <ul class="list-unstyled">
        <li><%= link_to 'トライアルディの申込み', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %></li>
      </ul>
    </div>
  </div>
</div>
