---
title: "Move to Learn Program"
icon: "icons/programmes.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
---

# <%= current_page.data.title %>

**Notes on the program**

* This program is not a language based program BUT a learning based movement and activity program.
* The name of our program says it all, ‘Move to Learn’. This is the name of an Australian based program (copyrighted) that was developed more than 30 years ago by Barbara Pheloung to enhance the learning abilities of children through movement. (If you want to know more about this then please contact Mr. Burton who is the official representative of the Move to Learn company in Japan).
* In addition Mr. Burton will use his very own ACE program (Activity, Communication and Exercise program).which he has developed in Japan.
* It will have an original curriculum created by our Saturday school coordinator Mr. Cecil Burton that includes fun filled movements, activities, music, songs, games, play, arts and crafts, etc.
* It will be conducted primarily in English but Japanese will also be used.
* This is an inclusive program and is open to any child from age 5 to 12 and more importantly children with special needs are not only welcome but encouraged to join this program which will be tremendous benefit to them (conditions would apply).
* There will be one class only for all the children and activities will be arranged according to each child’s abilities, weaknesses and strengths and pace of growth.

**Objectives**

1. Building the cornerstones to a solid learning foundation for students by using their basic skills, abilities and strengths, while also working on improving their weaknesses, through an activity based holistic approach, in a bilingual English/Japanese immersion environment.
2. Our focus during this program is on developing or further enhancing a child’s skills and abilities in learning, thinking, memory, behaviour, communication, gross and fine motor skills, balance and coordination of the brain and body, the body centerline, etc. and challenging them through various fun filled physical and mental activities, rather than just learning a language.
3. The end goal of this program is for any child who joins this program to have more self-confidence, communicate and behave better, and have better skills and abilities in the application, usage and coordination of both their mind and body for learning, then they did when they first entered this program.

**Curriculum**

Would be based on physical and mental activities that could include exercises, ball/card/physical/mental/concentration games, music, songs, dance, art and crafts, speaking, appropriate behavioural training, communication with peers and adults, questions and answers, vocabulary building, reading, writing, comprehension in listening, speaking and individual and group tasks, depending on the level of each child.

**Eligibility**

Any child who is between the ages of 5 ~12 can join. Children without any English ability will also be accepted into this program.

*Special needs children are especially welcome to apply for this program (conditions would apply).*

<div class="row mb-6 mb-4">
  <div class="col-md-6"><%= link_to 'Online Application (Move to Learn Program)', data.forms.saturday.apply.move, class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
</div>

* Interview day fee: No charge
* Registration fee: ¥21,000 (Only for the first year, non-refundable. This includes the school bag.
* Tuition fee: ¥165,000 a year (Lump sum payment only)
* Equipment, materials & notebook fee: ¥25,000
* Trial Lesson Fee:¥7,000

**Some Important Program Details**

* There are 30 class days in a one year program (Sep. to Jun.); each class day is of 3 hours duration, starting at 9.00 a.m. and ending at 12.00 p.m.
* There is only one class for all students in this program.
* Mr. Burton who is a British QCF level 3 qualified and experienced special needs teacher will be the main class teacher for this program.
* A minimum of 6 students is required to run this program. Student and teacher ratios are kept at conducive levels. In the case of a class having a very large number of students, we would have at least one assistant teacher to assist the main class teacher.
* Parents (both father and/or mothers or guardians) will be allowed and are encouraged to attend part of or even a whole day program at any time and as many times as they like, as not only observers but also to participate in their child’s activities and in doing so learn how to help and bond better with their child. The class teacher should be notified of this in writing or verbally at least one week in advance.
* If parents attend this program and if requested we can advise and instruct parents on how to help support and understand their child better, through various shared activities at home
