---
title: "ムーブ・トウ・ラーン"
description: ""
keywords: []
url:
  legacy: "/saturdayschool-jpn/move-to-learn-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">ムーブ・トウ・ラーン プログラム</h1>

      <h2>プログラムでの注意</h2>
      <ul>
        <li>本プログラムは、言語ベースのプログラムではなく、学びベースの運動と活動のプログラムです。</li>
        <li>本プログラムの名前「ムーブ・トウ・ラーン（動いて学ぶ）」がすべてを表しています。これは、オーストラリアに本拠地を置くプログラムの名前で（著作権あり）、30年以上前にBarbara Pheloung氏により開発され、動くことを通じて、子供たちの学ぶ能力を向上させることを目的としています。（詳細をお知りになりたい場合は、ムーブ・トウ・ラーン社の日本代表であるBurton氏にご連絡ください）。</li>
        <li>さらに、Burton氏 は、日本で開発した独自のACE（Activity: 活動、Communication: コミュニケーション、Exercise:運動）プログラムを使用します。
        <li>これは、土曜スクールコーディネーターであるCecil Burton氏によって作成された独自のカリキュラムで、楽しい運動、活動、音楽、歌、ゲーム、遊び、美術、創作等がたくさん詰まっています。</li>
        <li>主に英語で実施されますが、日本語も使用されます。</li>
        <li>これは包括的なプログラムで、5歳から12歳のお子様は誰でも受講いただくことができ、とりわけ特別な支援が必要な子供たちについては、歓迎するだけでなく、このプログラムにご参加いただくことは、そのような子供たちにとって非常に有効です。（条件があります）</li>
        <li>すべての子供たちにクラスは1つのみで、それぞれの子供たちの能力、強みと弱み、成長の速度によって各活動はアレンジされます。</li>
      </ul>

      <h2>目的</h2>
      <ol>
        <li>子供たちの基礎的なスキル、能力、強みを利用することによって、しっかりした学びの基盤を構築し、同時に、英語と日本語のバイリンガルな環境に浸りながら、総合的な手法に基づく活動を通じて、弱みを改善することも試みていきます。</li>
        <li>本プログラムにおける重要点は、子供たちのスキル、学習する力、考える力、記憶力、行動、コミュニケーション、総合的で優れた運動能力、脳と体のバランスと協調、体の中心線などを成長させ、向上させることと、単に語学を習得するだけでなく、身体的精神的なさまざまな楽しい活動を通じて、自分自身の挑戦をしていくことです。</li>
        <li>本プログラムの最終目標は、本プログラムに参加するすべての子供たちが、本プログラムに入会した時点よりも、より自信を持ち、よりよいコミュニケーションと適切な行動ができ、応用、使用、調整できる、心身共に学ぶための優れたスキル、能力を身に着けることです。</li>
      </ol>

      <h2>カリキュラム</h2>
      <p>身体的および精神的活動に基づき、お子様のレベルに応じた、運動、ボール・カード・身体的・精神的ゲーム、音楽、歌、ダンス、美術、創作、会話、適切な行動のためのトレーニング、仲間や大人とのコミュニケーション、質疑応答、語彙力構築、リーディング、ライティング、リスニング理解、スピーキング、個別およびグループ作業等を含みます。</p>

      <h2>資格</h2>
      <p>5歳から12歳のお子様は誰でも参加いただけます。英語力が全くないお子様も本プログラムにご参加いただけます。</p>
      <p class="font-weight-bold">特別な支援が必要なお子様は、本プログラムに特に歓迎です（条件があります）。</p>

      <h2>Some Important German Programme Details</h2>
      <ul class="list-unstyled">
        <li>インタビュー料金：無料</li>
        <li>登録料： ¥21,000 （初年度のみ。返金不可。スクールバッグを含みます）</li>
        <li>授業料： ¥165,000 / 年（一括払いのみ）</li>
        <li>設備、教材、ノードブック代： ¥25,000</li>
        <li>トライアルレッスン料：¥7,000</li>
      </ul>

      <h2>プログラムでの重要事項</h2>
      <ul>
        <li>1年のプログラムに30日のクラスがあります（9月から6月）。各クラスは、午前9時から正午終了の3時間です。</li>
        <li>本プログラムでは、すべての子供たちにクラスは1つのみです。</li>
        <li>英国のQCFレベル3の資格と特別な支援のための教師の経験を持つBurton氏が、本プログラムの主任教師です。</li>
        <li>本プログラムの運営には少なくとも6名以上の子供の参加が必要です。子供たちと教師の割合は、有効な結果が出せるレベルに維持されます。子供たちの人数が非常に多いクラスの場合には、主任教師の助けとして、少なくともアシスタント教師1名を入れる場合があります。</li>
        <li>ご両親（お父様、お母様、または保護者の方）は、いつでも、何度でも、プログラムの一部または一日中参加していただけますし、参加されることをお勧めします。お子様の活動をご覧になるだけでなく、ご一緒に活動に参加していただき、そうすることによって、お子様にどのように手助けして、どのようにより絆を深めていくかをおわかりいただくことができると思います。ご参加の場合、少なくとも1週間前までにクラス担任までお知らせください。</li>
        <li>ご両親が本プログラムに参加される場合、ご要望がありましたら、ご家庭でお子様との様々な活動を通じて、お子様をどのように手助けし、どのように理解すればよいかについてアドバイスすることができます。</li>
      </ul>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>申請書</h3>

      <p class="lead font-weight-bold">Move to Learn</p>
      <ul class="list-unstyled">
        <li><%= link_to '申し込みフォーム', 'https://goo.gl/forms/t3MrHoCBzAXOL0l32' %></li>
      </ul>
    </div>
  </div>
</div>
