---
title: "Calendar and Schedule"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### Calendar & Schedule 2022-2023

There are a total of 30 Saturdays from September 2022 to June 2023. Classes are 3 hours per day from 9:00 a.m. to 12:00 p.m.

Please check the calendar below:

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 Classes - Saturdays)</th>
      <th scope="col">Term 2 (15 Classes - Saturdays)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>September 2022 – 3, 10, 24</td>
      <td>February 2023 – 4, 18, 25</td>
    </tr>
    <tr>
      <td>October 2022 – 1, 15, 22</td>
      <td>March 2023 – 4, 11</td>
    </tr>
    <tr>
      <td>November 2022 – 5, 12, 19, 26</td>
      <td>April 2023 – 1, 8, 15, 22</td>
    </tr>
    <tr>
      <td>December 2022 – 3, 10</td>
      <td>May 2023 – 13, 20, 27</td>
    </tr>
    <tr>
      <td>January 2023 – 14, 21, 28</td>
      <td>June 2023 – 3, 10, 17</td>
    </tr>
  </tbody>
</table>
