---
title: "カレンダーとスケジュール"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### スケジュール 2025-2026

2025年9月から2026年6月まで、合計で30回の土曜日があります。クラスは、1日につき午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1（15 土曜日）</th>
      <th scope="col">Term 2（15 土曜日）</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2025年9月 – 6, 20, 27</td>
      <td>2026年2月 – 7, 14, 21, 28</td>
    </tr>
    <tr>
      <td>2025年10月 – 11</td>
      <td>2026年3月 – 7, 14</td>
    </tr>
    <tr>
      <td>2025年11月 – 1, 8, 15, 22, 29</td>
      <td>2026年4月 – 4, 11, 18</td>
    </tr>
    <tr>
      <td>2025年12月 – 6, 13</td>
      <td>2026年5月 – 9, 16, 23, 30</td>
    </tr>
    <tr>
      <td>2026年1月 – 10, 17, 24, 31</td>
      <td>2026年6月 – 6, 13</td>
    </tr>
  </tbody>
</table>
