---
title: "カレンダーとスケジュール"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### スケジュール 2019-2020

2019年9月から、2020年6月まで、合計で30日の土曜日があります。クラスは、1日につき、午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 土曜日)</th>
      <th scope="col">Term 2 (15 土曜日)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019年9月 – 7, 14, 21, 28</td>
      <td>2020年2月 – 8, 15, 22, 29</td>
    </tr>
    <tr>
      <td>2019年10月 – 5, 19</td>
      <td>2020年3月 – 7, 14</td>
    </tr>
    <tr>
      <td>2019年11月 – 9, 16, 30</td>
      <td>2020年4月 – 4, 11, 18, 25</td>
    </tr>
    <tr>
      <td>2019年12月 – 7, 14</td>
      <td>2020年5月 – 16, 23, 30</td>
    </tr>
    <tr>
      <td>2020年1月 – 11, 18, 25</td>
      <td>2020年6月 – 6, 13</td>
    </tr>
    <tr>
      <td>2020年2月 - 1</td>
      <td></td>
    </tr>
  </tbody>
</table>

### スケジュール 2020-2021

2020年9月から、2021年6月まで、合計で30日の土曜日があります。クラスは、1日につき、午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 土曜日)</th>
      <th scope="col">Term 2 (15 土曜日)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2020年9月 – 5, 12, 19, 26</td>
      <td>2021年2月 – 6, 13, 20, 27</td>
    </tr>
    <tr>
      <td>2020年10月 – 3, 17</td>
      <td>2021年3月 – 6, 13</td>
    </tr>
    <tr>
      <td>2020年11月 – 7, 14, 21</td>
      <td>2021年4月 – 3, 10, 17, 24</td>
    </tr>
    <tr>
      <td>2020年12月 – 5, 12, 19</td>
      <td>2021年5月 – 15, 22, 29</td>
    </tr>
    <tr>
      <td>2021年1月 – 16, 23, 30</td>
      <td>2021年6月 – 5, 12	</td>
    </tr>
  </tbody>
</table>
