---
title: "カレンダーとスケジュール"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### スケジュール 2022-2023

2022年9月から、2023年6月まで、合計で30日の土曜日があります。クラスは、1日につき、午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 土曜日)</th>
      <th scope="col">Term 2 (15 土曜日)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2022年9月 – 3, 10, 24</td>
      <td>2023年2月 – 4, 18, 25</td>
    </tr>
    <tr>
      <td>2022年10月 – 1, 15, 22</td>
      <td>2023年3月 – 4, 11</td>
    </tr>
    <tr>
      <td>2022年11月 – 5, 12, 19, 26</td>
      <td>2023年4月 – 1, 8, 15, 22</td>
    </tr>
    <tr>
      <td>2022年12月 – 3, 10</td>
      <td>2023年5月 – 13, 20, 27</td>
    </tr>
    <tr>
      <td>2023年1月 – 14, 21, 28</td>
      <td>2023年6月 – 3, 10, 17</td>
    </tr>
  </tbody>
</table>

### スケジュール 2021-2022

2021年9月から、2022年6月まで、合計で30日の土曜日があります。クラスは、1日につき、午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 土曜日)</th>
      <th scope="col">Term 2 (15 土曜日)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021年9月 – 4, 11, 18, 25</td>
      <td>2022年2月 – 12, 19, 26</td>
    </tr>
    <tr>
      <td>2021年10月 – 2, 16</td>
      <td>2022年3月 – 5, 12</td>
    </tr>
    <tr>
      <td>2021年11月 – 6, 13. 20</td>
      <td>2022年4月 – 2, 9, 16, 23, 30</td>
    </tr>
    <tr>
      <td>2021年12月 – 4, 11</td>
      <td>2022年5月 – 14, 21, 28</td>
    </tr>
    <tr>
      <td>2022年1月 – 15, 22, 29</td>
      <td>2022年6月 – 4, 11</td>
    </tr>
    <tr>
      <td>2022年2月 – 5</td>
      <td></td>
    </tr>
  </tbody>
</table>
