---
title: "Calendar and Schedule"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### Calendar & Schedule 2025-2026

There are a total of 30 Saturdays from September 2025 to June 2026. Classes are 3 hours per day from 9:00 a.m. to 12:00 p.m.

Please check the calendar below:

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 Classes - Saturdays)</th>
      <th scope="col">Term 2 (15 Classes - Saturdays)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>September 2025 – 6, 20, 27</td>
      <td>February 2026 – 7, 14, 21, 28</td>
    </tr>
    <tr>
      <td>October 2025 – 11</td>
      <td>March 2026 – 7, 14</td>
    </tr>
    <tr>
      <td>November 2025 – 1, 8, 15, 22, 29</td>
      <td>April 2026 – 4, 11, 18</td>
    </tr>
    <tr>
      <td>December 2025 – 6, 13</td>
      <td>May 2026 – 9, 16, 23, 30</td>
    </tr>s
    <tr>
      <td>January 2026 – 10, 17, 24, 31</td>
      <td>June 2026 – 6, 13</td>
    </tr>
  </tbody>
</table>
