---
title: "カレンダーとスケジュール"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

### スケジュール 2023-2024

2023年9月から、2024年6月まで、合計で30日の土曜日があります。クラスは、1日につき、午前9時から正午までの3時間です。

下のカレンダーを参照してください。

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term 1 (15 土曜日)</th>
      <th scope="col">Term 2 (15 土曜日)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2023年9月 – 2, 9, 23, 30</td>
      <td>2024年2月 – 3, 17, 24</td>
    </tr>
    <tr>
      <td>2023年10月 – 14, 21</td>
      <td>2024年3月 – 2, 9, 30</td>
    </tr>
    <tr>
      <td>2023年11月 – 4, 11, 18, 25</td>
      <td>2024年4月 – 6, 13, 20</td>
    </tr>
    <tr>
      <td>2023年12月 – 2, 9</td>
      <td>2024年5月 – 11, 18, 25</td>
    </tr>
    <tr>
      <td>2024年1月 – 13, 20, 27</td>
      <td>2024年6月 – 1, 8, 15</td>
    </tr>
  </tbody>
</table>
