<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p><%= text ||= 'Bitte kontaktieren Sie uns für weitere Informationen oder um eine Schultour zu buchen.' %></p>
    <p>
      <% if mailto %>
        <%= mail_to mailto, button ||= 'Kontakt aufnehmen »', class: 'btn btn-lg btn-primary', role: 'button' %>
      <% else %>
        <%= link_to button ||= 'Kontakt aufnehmen »', link ||= local_path('contact'), class: 'btn btn-lg btn-primary', role: 'button' %>
      <% end %>
    </p>
  </div>
</div>
