<h3>Contact Details for Enrollment</h3>

<p>The choice of a school for your child is one of the most important decisions you will make as a parent. We want to assist you in any way we can. Our Enrolments Office is open Monday-Friday 8.00am–4.00pm.</p>

<ul class="list-unstyled">
  <li>Yasuyo Masada, Head of Enrolments / Office Manager</li>
  <li>Telephone: <a href="tel:078 857 9777">078-857-9777</a></li>
  <li>Fax: <a href="fax:078 857 9775">078-857-9775</a></li>
  <li>Email: <%= mail_to data.config.contact.mailto, data.config.contact.mailto, role: 'button' %></li>
</ul>

<h3>Tours of the DSK International</h3>

<p>We regularly run small group tours of the school. There is also an Open Day held each year in May and November to showcase the whole school. Please get in touch to book a tour of the school.</p>
<p><%= mail_to data.config.contact.mailto + '?subject=School Tour', 'Book a tour »', class: 'btn btn-lg btn-info', role: 'button' %></p>
