<h2>How to Enroll</h2>

<p>At DSKI we have two stages to enrollment: Pre-Admission (before acceptance) and Registration (after acceptance).</p>

<h3>Pre-Admission</h3>

<p>If you wish to enrol your child at DSKI, simply complete and submit the application form. You can apply by downloading and submitting the "Application form" or via submitting our online form. They are available on the right of this page. If you have any questions about enrolment, <%= link_to 'please get in touch', local_path('contact') %>. If you wish to submit your completed forms please submit on the right of this page.</p>

<h3>Registration</h3>

<p>Parents wishing to enroll their child at DSKI, after the application has been accepted by the school, must provide/fill out and sign all of the documents which are listed at the “Registration Process” section of the Admission process page. After acceptance, we will provide the documents and walk you through the steps via email. </p>
<p>If you lose or delete these documents, you can also access these forms from the "Access Registration Pack After Acceptance" download on the right of the page.</p>
<p>Please see the "<%= link_to 'Admissions Process', local_path('admissions/process') %>" for a more detailed explanation of the enrollment process.</p>

<h3>Enrolment Process</h3>
<p>STEP ONE<br>Pre-admission Questionnaire</p>
<p>STEP TWO<br>Make an Enquiry</p>
<p>STEP THREE<br>Interview</p>
<p>STEP FOUR<br>Submit Application</p>
<p>STEP FIVE<br>Accept an Offer</p>
<p>STEP SIX<br>Attend an Orientation</p>
