<h2>Fees</h2>
<p>We understand that choosing an international school is a very large investment for most families and we thank you for considering DSKI for your child or children. Under special circumstances we can offer a reduction in school fees however an application must be made in writing, stating all details, to the Board of Trustees.</p>

<h3>Extra Curricular Club Activities</h3>
<p>The fee for half of the school year (starting in September each year) will be 21,000 Yen.<br>
There will be no buses at this time to transport your child home. Please try to carpool with other parents.</p>
