<h2>Programme Placement</h2>

<p>Children are placed into programmes according to their ages as of September 1* of the year of enrolment.</p>

<table class="table table-striped table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Programme Level</th>
      <th scope="col">Age of children as of Sept. 1</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Pre-Kindergarten</td><td>2 years old</td></tr>
    <tr><td>Kindergarten</td><td>3 years old</td></tr>
    <tr><td>Preschool</td><td>5 years old</td></tr>
    <tr><td>Grade 1</td><td>6 years old</td></tr>
    <tr><td>Grade 2</td><td>7 years old</td></tr>
    <tr><td>Grade 3</td><td>8 years old</td></tr>
    <tr><td>Grade 4</td><td>9 years old</td></tr>
    <tr><td>Grade 5</td><td>10 years old</td></tr>
    <tr><td>Grade 6</td><td>11 years old</td></tr>
  </tbody>
</table>

<p class="small">* In the case of students born in September the school will decide to which grade level they are admitted, based on documentation as well as the results of a trial day and, possibly, testing.</p>
