<h2>Schedule</h2>
<p>New students are usually admitted at the beginning of new terms (<strong>September</strong> and <strong>February</strong>). However, it is possible for individual students to enter the school at other times by special arrangement.</p>
