---
title: "School Fees"
icon: "icons/fee.png"
description: ""
keywords: []
url:
  legacy: "/about-us/school-fees/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-7">
      <h1><%= current_page.data.title %></h1>

      <p>We understand that choosing an international school is a very large investment for most families and we thank you for considering DSKI for your child or children. Under special circumstances we can offer a reduction in school fees however an application must be made in writing, stating all details, to the Board of Trustees.</p>

      <h2 class="mt-5">Extra Curricular Club Activities</h2>

      <p>The fee for half of the school year (starting in September each year) will be 21,000 Yen.</p>
      <p>There will be no buses at this time to transport your child home. Please try to carpool with other parents.</p>
    </div>

    <div class="col-md-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
      <h3>Document Downloads</h3>
      <ul class="list-unstyled">
        <li><%= link_to '2019/2020 Fee Breakdown', '/media/fees/Fee-Structure-20192020.pdf' %></li>
      </ul>
    </div>
  </div>
</div>
