---
title: "Placement"
icon: "icons/placement.png"
description: ""
keywords: []
url:
  legacy: "/admissions/admissions-placement/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1>Programme Placement</h1>

      <p>Children are placed into programmes according to their ages as of September 1* of the year of enrolment.</p>
      <p>* In the case of students born in September the school will decide to which grade level they are admitted, based on documentation as well as the results of a trial day and, possibly, testing.</p>

      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Programme Level</th>
            <th scope="col">Age of children as of Sept. 1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pre-Kindergarten</td>
            <td>2 years old</td>
          </tr>
          <tr>
            <td>Kindergarten</td>
            <td>3 years old</td>
          </tr>
          <tr>
            <td>Preschool</td>
            <td>5 years old</td>
          </tr>
          <tr>
            <td>Grade 1</td>
            <td>6 years old</td>
          </tr>
          <tr>
            <td>Grade 2</td>
            <td>7 years old</td>
          </tr>
          <tr>
            <td>Grade 3</td>
            <td>8 years old</td>
          </tr>
          <tr>
            <td>Grade 4</td>
            <td>9 years old</td>
          </tr>
          <tr>
            <td>Grade 5</td>
            <td>10 years old</td>
          </tr>
          <tr>
            <td>Grade 6</td>
            <td>11 years old</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 offset-md-1">
      <h3>Go Back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Take me back to Admissions', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>
