---
title: "Parent Programme"
icon: "icons/pta.png"
description: ""
keywords: []
url:
  legacy: ""
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/school_01.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1>Parent Programme</h1>

      <p>We want our school to be a place to come in and have fun, not just for the students but also for parents!<br>
      Many families move to Japan, live locally and would like to meet new people and make new friends.</p>

      <p>So come in and sign up for any of our offers to parents.</p>

      <h3 class="mt-4">Japanese for Adults</h3>
      <p>Qualified teacher making learning Japanese fun, even includes tea ceremony!</p>

      <h3 class="mt-4">English for Adults</h3>
      <p>Non native speaker looking to improve your level?</p>

      <h3 class="mt-4">German for Adults</h3>
      <p>Supported by the Goethe Institute, you can even earn points for a formal qualification</p>

      <h3 class="mt-4">Boxercise</h3>
      <p>Come for exercise based on boxing movement using music, lots of movement and fun.</p>

      <h3 class="mt-4">Bhangrabics</h3>
      <p>Join our aerobics class mixed with Indian dance, like you see in Indian Bollywood movies.</p>

      <h3 class="mt-4">Wine Tasting</h3>
      <p>Strictly for parents only! Evening events, dates to be published.</p>
    </div>
  </div>
</div>
