<h3 class="mt-4">DSKI on Facebook</h3>
<p>For everything social and for updates on our school be sure to like our Facebook page. We are very active and would love to have you as a follower. See you on Facebook!</p>
<a href="https://www.facebook.com/dskobe.org">
  <%= image_tag 'fb_logo.png', alt: 'DSKI on Facebook' %>
</a>
