<li><%= link_to t('menu.about.offer'), local_path('about/what-we-offer'), class: 'text-light' %></li>
<li><%= link_to t('menu.programmes.top'), local_path('programmes'), class: 'text-light' %></li>
<li><%= link_to t('menu.contact'), local_path('contact'), class: 'text-light' %></li>
