<li><%= link_to data.config.menu.offer, local_path('about/what-we-offer'), class: 'text-light' %></li>
<li><%= link_to data.config.menu.programmes, local_path('programmes'), class: 'text-light' %></li>
<li><%= link_to data.config.menu.contact, local_path('contact'), class: 'text-light' %></li>
