<div class="jumbotron jumbotron-fluid mt-5 mb-0 p-0">
  <div class="container">
    <div class="row text-center">
      <%
        cols = 6
        items = []
        sub_pages(I18n.locale.to_s + '/' + current_resource.path.split('/')[1]).each do |item|
          target_lang = "en"
          target_file = item.target.split('/').last.split('.')

          if target_file.length > 2
            target_lang = target_file[1]
          end

          if item.path != current_resource.path
            if target_lang.to_s === item.options[:locale].to_s
              items.push(item)
            end
          end
        end
        # items.shuffle.take(cols).each do |resource|
        items.shuffle.each do |resource|
      %>
      <div class="col-md-<%= 12/cols %> p-4">
        <% link_to resource.url, class: 'stretched-link' do %>
          <%= image_tag resource.data.icon, alt: resource.data.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
          <p class="lead"><%= resource.data.title %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
