---
title: "Deutscher Sprachzweig"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
i18n: "de"
sitemap_priority: 1.0
---

# <%= current_page.data.title %>

Hier finden Sie einen kurzen Überblick zu unserem deutschen Sprachzweig für Muttersprachler.

[Kontaktieren Sie uns bitte](/en/contact), wenn wir Ihr Interesse wecken konnten und Sie mehr Informationen erhalten möchten.

Unser deutscher Sprachzweig kombiniert den Thüringer Bildungsplan mit den Inhalten des International Baccalaureate (IB) Primary Years Programme (PYP) und bietet die ideale Schulausbildung für die deutsche Community. Unser Programm ist ideal für Schüler, die:

- Bei einem kurzfristigen Aufenthalt in Japan leben und im Falle der Rückkehr nach Deutschland direkt wieder ohne Versäumnisse zu einer staatlichen deutschen Schule, oder im Falle eines Umzugs an eine andere internationale Schule gehen möchten.
- Unbegrenzt in Japan leben und die deutsche Sprache auf Muttersprachler Niveau beherrschen möchten.
- Bei einem früheren Aufenthalt in Deutschland gelebt und die deutsche Sprache dort gelernt haben und jene nun auch in Japan weiterhin auf hohem Niveau lernen möchten.

Mehrere Sprachen zu sprechen ist die große Stärke im Ausland lebender Kinder. Gepaart mit unserem Englischunterricht erhalten die Schüler_innen eine professionelle bilinguale Schulbildung. Für zwei- oder mehrsprachige Familien mit japanischem Hintergrund bieten wir auch zusätzlich japanischen Muttersprachler Unterricht an.

Die Lehrinhalte der Mathematik basieren auf dem Thüringer Lehrplan und erfüllen alle Voraussetzungen, um Ihr Kind bestmöglich auf das Gymnasium vorzubereiten. Ihre Kinder erreichen ein sehr hohes Kompetenzniveau an unserer Schule.

Als IB World School, sind wir lizensiert PYP anzubieten und unsere “Units of Inquiry” ermöglichen einen fächerübergreifenden Unterricht in Englisch, der unseren Schüler_innen ermöglicht sich individuell zu entfalten und individuell gefördert zu werden. Unsere Schüler_innen lernen früh Eigenverantwortung und werden in ihrer mentalen und physischen Entwicklung stets professionell begleitet und gefördert.

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-de"></span> Deutsche Muttersprachler Klasse</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Mathematik und Deutsch</li>
      <li>Jeden Tag 50 Minuten Mathematik und 50 Minuten Deutsch Unterricht.</li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-gb"></span> Englischunterricht</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Unserer Unit of inquiry Unterricht findet in den internationalen Klassenzimmern auf Englisch statt. Deutsche Kinder können durch zusätzlichen Englischunterricht (ESL) ideal gefördert und auf den Schulalltag vorbereitet werden.</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-jp"></span> Japanischunterricht</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Die Schüler_innen haben dreimal in der Woche 50 minütigen KOKUGO (japanische Muttersprachler) oder JFL (Japanese as a Foreign Language / Japanisch als Fremdsprache) Unterricht.</li>
    </ul>
  </div>
</div>
