---
title: "Cours de français"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
i18n: "fr"
sitemap_priority: 1.0
---

# <%= current_page.data.title %>

Nous sommes heureux d'annoncer l'ouverture, en août 2022, au sein de l’école DSKI, d’une nouvelle section de français à destination des élèves du primaire. Cette nouvelle section, découpée en deux cours de 50 minutes , se déroulera en semaine, en complémentarité de l'enseignement normal.

Ces cours, qui auront lieu du mercredi au vendredi de 15 heures 45 à 17 heures 35 , se composeront d'une première partie mathématique CAP et d’une seconde partie Français programme de primaire avec une pause entre les cours .

[Veuillez nous contacter directement](/en/contact) si vous êtes intéressés ou pour des informations complémentaires.

Nous intégrerons le français à notre programme de Primaire du Baccalauréat International afin d'offrir une approche complémentaire à la communauté française et de répondre aux besoins des Français qui sont:

- Ici en affectation court terme et qui réintégront le système scolaire français ou déménageront dans une autre école internationale, en utilisant l'anglais comme langue d'enseignement
- Ici en affectation long terme et souhaitant maintenir le niveau de leur enfant en français

Le langage étant un outil fondamental dans la communication, notre programme offrira un niveau de compétence permettant aux étudiants de pouvoir communiquer au niveau d’un locuteur natif. Combinés avec des cours d'anglais, nous offrons une opportunité unique d'avoir une éducation bilingue. Nous proposons également le japonais comme langue maternelle pour les familles binationales.

Notre programme de mathématiques est basé sur [Cap Maths](https://capmaths.editions-hatier.fr) mais enseigné avec une approche permettant de développer la curiosité, stimuler la pensée et l'intérêt des enfants. Nous relions également les mathématiques à nos autres unités d’enseignement, en développant une compréhension sur la manière dont les sujets s’assemblent.

En tant qu'école internationale (IB), nous sommes pleinement accrédités pour offrir le PYP et nos unités d'enseignement proposent un programme d'études transdisciplinaire enseigné en anglais. Nous nous concentrons sur la pensée critique et le développement des compétences générales .

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-fr"></span> Cours de français natif</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Mathématiques et langue française</li>
      <li>Tous les jours une leçon en français de mathématiques et de langue pour une durée de 50 minutes</li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-gb"></span> Cours d'anglais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les unités de cours sont en anglais avec un professeur principal</li>
      <li>Les étudiants de la section française peuvent suivre des cours d'anglais (ESL) si nécessaire</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-jp"></span> Cours de japonais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les étudiants entreprennent 3 leçons de japonais de 50 minutes en KOKUGO (japonais comme langue maternelle) ou en JFL (japonais comme langue étrangère)</li>
    </ul>
  </div>
</div>
