---
title: "Cours de français"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
i18n: "fr"
sitemap_priority: 1.0
---

# <%= current_page.data.title %>

Nous avons le plaisir de vous annoncer qu'un cours de français natif a lieu au sein de l'école DSKI, pour les élèves du primaire. Cette section, divisée en cours de 50 minutes se déroulera en semaine, en complément de l'enseignement normal.

Les cours auront lieu à partir du mercredi de 15h45 à 17h35, avec programme de français basé sur celui de l’éducation nationale ( en grammaire et en vocabulaire) pour locuteurs natifs de l'école primaire .

[Veuillez nous contacter directement](/en/contact) si vous êtes intéressé pour de plus amples informations.

Nous alignons notre programme de français sur notre programme Primaire du Baccalauréat International afin d'offrir une approche complémentaire à la communauté française et de répondre aux besoins des Français qui sont ici :

- En mission de courte durée et qui réintégreront le système scolaire français ou déménageront dans une autre école internationale, en utilisant l'anglais comme langue d'enseignement.
- En mission de longue durée et souhaitant maintenir le niveau de leur enfant en français.

La langue étant un outil fondamental de communication, notre programme fournira un niveau de compétence permettant aux étudiants de communiquer au niveau d'un locuteur natif. Combiné avec des cours d'anglais, nous offrons une opportunité unique d'avoir une éducation bilingue. Nous proposons également le japonais comme langue maternelle pour les familles binationales.

En tant qu'école internationale (IB), nous sommes entièrement accrédités pour proposer le PYP (Primary Years Programme) et nos unités d'enseignement proposent un programme d'études transdisciplinaire enseigné en anglais. Nous nous concentrons sur la pensée critique et le développement des compétences générales.

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-fr"></span> Cours de français natif</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Mathématiques et langue française</li>
      <li>Tous les jours une leçon en français de mathématiques et de langue pour une durée de 50 minutes</li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-gb"></span> Cours d'anglais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les unités de cours sont en anglais avec un professeur principal</li>
      <li>Les étudiants de la section française peuvent suivre des cours d'anglais (ESL) si nécessaire</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-jp"></span> Cours de japonais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les étudiants entreprennent 3 leçons de japonais de 50 minutes en KOKUGO (japonais comme langue maternelle) ou en JFL (japonais comme langue étrangère)</li>
    </ul>
  </div>
</div>
