---
title: "DSKI School Calendar"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

* <%= link_to 'Please click here to download the 2021/2022 calendar.', '/media/calendars/DSKI-2021-22-School-Calendar.pdf' %>

<div class="row">
  <div class="col-xl-6 mt-4">
    <%= image_tag '/media/calendars/DSKI-2021-22-School-Calendar.png', alt: '2021/2022 School Calendar', class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-xl-6 mt-4">
  </div>
</div>
