---
title: "DSKI Event Calendar"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

Please <%= link_to 'click here to view', '/media/calendars/DSKI-2021-22-Event-Calendar.pdf' %> the events calendar.

## Upcoming Events
<br>

<hr class="featurette-divider">

## Past Events
<br>

<div class="border border-info p-3">
  <h3 id="open-day">Online information meeting</h3>
  <p class="lead text-muted">March 9th at 11.00am via Zoom</p>
  <p>Join an online meeting to hear about our school programme and have a virtual walkthrough to see the school day.</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScfnx8WI4LbAlwx_3O_6Qk_rShWzI3UEx1xr6zCmggAcN6sKA/viewform?usp=sf_link">Click here to register</a>.
</div>

### Oktoberfest

Join us for Oktoberfest for a memorable day with students, parents, teachers, staff and friends. We have a range of activities planned and also beer and sausages!

* Beer
* Live Music
* Homemade Cakes
* German Food
* Tombola with Great Prizes
* Games & Fun for Kids

<%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
