---
title: "DSKI イベントカレンダー"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

カレンダーを<%= link_to 'ここからダウンロード', '/media/calendars/DSKI-2020-21-Event-Calendar.pdf' %>する。

## 今後のイベント
<br>

<hr class="featurette-divider">

## 過去のイベント
<br>

### 学校見学会

<p class="lead text-muted">11月3日 午前10時～12時</p>

* 10時00分 - 校長による説明会
* 10時30分 - 学校内見学
* 11時00分 - 散歩やクラスに参加する自由時間
* 11時30分 - お茶の時間

School tour and staff meeting will be restricted due to our covid 19 safety policy.

<%= image_tag '/media/news/Open_Day_2020_English.jpg', alt: '学校見学会', class: 'img-fluid d-block w-50 mt-3' %>

### オクトーバーフェスト

ドイツビールや手作りケーキ、ドイツの伝統的な食べ物や抽選会をいっしょに楽しみましょう。

* ドイツビール
* 生バンド演奏
* 手作りケーキ
* ドイツの伝統的な食べ物
* トンボラ抽選と豪華賞品
* 子供むけの楽しいゲーム

<%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
