---
title: "DSKI Event Calendar"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

Please <%= link_to 'click here to view', '/media/calendars/Events-2019-2020.pdf' %> the events calendar.

## Upcoming Events

<hr class="featurette-divider">

## Past Events

### Open Day

<p class="lead text-muted">20th May 10:00am-2:00pm</p>

* School Tour
* Meet the Teachers
* Parent Cafe

All nationalities welcome!

### Oktoberfest

Join us for Oktoberfest for a memorable day with students, parents, teachers, staff and friends. We have a range of activities planned and also beer and sausages!

* Beer
* Live Music
* Homemade Cakes
* German Food
* Tombola with Great Prizes
* Games & Fun for Kids

<%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
