---
title: "DSKI イベントカレンダー"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

カレンダーを<%= link_to 'ここからダウンロード', '/media/calendars/DSKI-2021-22-Event-Calendar.pdf' %>する。

## 今後のイベント
<br>

<div class="border border-info p-3">
  <h3 id="open-day">オンライン　インフォメーション　ミーティング</h3>
  <p class="lead text-muted">5月18日 午前11:00　ズームにて</p>
  <p>オンラインにて学院のプラグラムについて知っていただき、バーチャルで学院の様子をご覧いただきます。</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScL-zmQDGi1lqb2pM8X7o-MpoFRR2a1ZCZZWCs20qBHZKB9ag/viewform">上記リンクをクリックしてください</a>。
</div>

<hr class="featurette-divider">

## 過去のイベント
<br>

### オクトーバーフェスト

ドイツビールや手作りケーキ、ドイツの伝統的な食べ物や抽選会をいっしょに楽しみましょう。

* ドイツビール
* 生バンド演奏
* 手作りケーキ
* ドイツの伝統的な食べ物
* トンボラ抽選と豪華賞品
* 子供むけの楽しいゲーム

<%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
