---
title: "DSKI Veranstaltungskalender"
description: ""
keywords: []
url:
  legacy: "/about-us-de/school-fees-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="mt-4"><%= link_to 'Klicken Sie hier', '/media/calendars/Events-2019-2020.pdf' %>, um den Kalender herunterzuladen.</p>

      <h2 class="mt-4">Kommende Veranstaltungen</h2>

      <h3 class="mt-4">Open Day - Tag der offenen Tür</h3>
      <p class="lead text-muted">21. November 9:30 bis 12:00 Uhr</p>
      <ul>
        <li>Schulrundgang</li>
        <li>Lerne die Lehrer kennen</li>
        <li>Elterncafé</li>
      </ul>
      <p>Alle Nationalitäten willkommen!<br>Kommen Sie einfach vorbei, keine Anmeldung erforderlich!</p>

      <hr class="featurette-divider">

      <h2 class="mt-4">Frühere Veranstaltungen</h2>

      <h3 class="mt-4">Oktoberfest</h3>
      <p>Begleiten Sie uns zum Oktoberfest am 19. Oktober für einen unvergesslichen Tag mit Schülern, Eltern, Lehrern, Mitarbeitern und Freunden. Wir haben eine Reihe von Aktivitäten geplant und auch Bier und Würstchen!</p>
      <ul>
        <li>Bier</li>
        <li>Live MusiK</li>
        <li>Hausgemachte Kuchen</li>
        <li>Deutsche Küche</li>
        <li>Tombola mit tollen Preisen</li>
        <li>Spiel & Spaß für Kinder</li>
      </ul>

      <%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>

    </div>
  </div>
</div>
