---
title: "DSKI イベントカレンダー"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

カレンダーを<%= link_to 'ここからダウンロード', '/media/calendars/DSKI-2020-21-Event-Calendar.pdf' %>する。

## 今後のイベント
<br>

<hr class="featurette-divider">

## 過去のイベント
<br>

### 学校見学会

<a href="https://docs.google.com/forms/d/e/1FAIpQLSdzRm8zPbK6_45zl2w9FBBEVBRfFzrOG44y-BfOqQFIBTSQaQ/viewform?gxids=7628">オンライン・学校見学会のお申し込みはこちら。</a>

### オクトーバーフェスト

ドイツビールや手作りケーキ、ドイツの伝統的な食べ物や抽選会をいっしょに楽しみましょう。

* ドイツビール
* 生バンド演奏
* 手作りケーキ
* ドイツの伝統的な食べ物
* トンボラ抽選と豪華賞品
* 子供むけの楽しいゲーム

<%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
