---
title: "Elternbeirat (PTA)"
icon: "icons/pta.png"
description: "Alumni: DSK International - World IB School in Kobe"
keywords: []
url:
  legacy: "/community-de/pta-en/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-8">
      <h1><%= current_page.data.title %></h1>

      <p>Der Elternbeirat (PTA) besteht aus Elternvertretern vom Kindergarten bis hin zur Middle School und Lehrervertretern.</p>

      <p>Falls sie Fragen haben, schicken Sie eine E-mail zu: pta@dskobe.org.<br>
      Für detaillierte Informationen bitte gehen Sie zu deskpta.blogspot.jp !</p>

      <table class="table mt-5">
        <thead class="thead-light">
          <tr>
            <th scope="col">PTA Positions</th>
            <th scope="col">Names</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chair</td>
            <td>Derek Maeckelburg</td>
          </tr>
          <tr>
            <td>Vice Chairs</td>
            <td>Ingrid Brabeck<br>Yoko Joost</td>
          </tr>
          <tr>
            <td>Treasurer</td>
            <td>Melanie Dornhaus</td>
          </tr>
          <tr>
            <td>Translator</td>
            <td>Mutsumi Hata</td>
          </tr>
          <tr>
            <td>Minutes Keeper</td>
            <td>Justin Pecora</td>
          </tr>
          <tr>
            <td>Supplies Person</td>
            <td>Dagmar Haskova</td>
          </tr>
          <tr>
            <td>Blogger</td>
            <td>Derek Maeckelburg</td>
          </tr>
          <tr>
            <td>Principal</td>
            <td>Frank Pitzner</td>
          </tr>
          <tr>
            <td>Teacher Representative</td>
            <td>Hiroko Yoshida</td>
          </tr>
          <tr>
            <td>Pre-Kindergarten Class Representatives</td>
            <td>Emiru Yamato<br>Keiko Le Henne</td>
          </tr>
          <tr>
            <td>Kindergarten Class Representative</td>
            <td>Keiko Le Henne</td>
          <tr>
            <td>Preschool Class Representative</td>
            <td>Kangmin Seo</td>
          </tr>
          <tr>
            <td>Grade 1 Class Representatives</td>
            <td>Yoko Joost<br>Melanie Dornhaus</td>
          </tr>
          <tr>
            <td>Grade 2 Class Representatives</td>
            <td>Ingrid Brabeck<br>Derek Maeckelburg</td>
          </tr>
          <tr>
            <td>Grade 3 Class Representatives</td>
            <td>Mutsumi Hata<br>Dagmar Haskova</td>
          </tr>
          <tr>
            <td>Grade 4 Class Representatives</td>
            <td>Maiko Maeda</td>
          </tr>
          <tr>
            <td>Grade 5 and 6 Class Representatives</td>
            <td>Justin Pecora<br>Bradley Quinn</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
