@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "./bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

nav.navbar-custom {
  background-color:#ffffff;
  border-top: 10px solid #fec10d;
  border-bottom: 1px solid #ededed;
}

.navbar-brand img {
  width: 320px;
}

.strokeme {
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Flag Icons (https://github.com/lipis/flag-icon-css)
-------------------------------------------------- */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-de {
  background-image: url(../images/flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(../images/flags/1x1/de.svg);
}
.flag-icon-fr {
  background-image: url(../images/flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../images/flags/1x1/fr.svg);
}
.flag-icon-gb {
  background-image: url(../images/flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(../images/flags/1x1/gb.svg);
}
.flag-icon-jp {
  background-image: url(../images/flags/4x3/jp.svg);
}
.flag-icon-jp.flag-icon-squared {
  background-image: url(../images/flags/1x1/jp.svg);
}

/* Multi level dropdown navigation: https://github.com/chemikus/bootstrap-4-multi-dropdown-navbar
-------------------------------------------------- */
.dropdown-toggle.active-dropdown::after {
  transform: rotate(-90deg);
}

a.dropdown-toggle {
  cursor: pointer;
}
