<li><%= link_to t('menu.what-we-offer'), local_path('about/what-we-offer'), class: 'text-light' %></li>
<li><%= link_to t('menu.programmes'), local_path('programmes'), class: 'text-light' %></li>
<li><%= link_to t('menu.admissions'), local_path('admissions'), class: 'text-light' %></li>
<li><%= link_to t('menu.contact-us'), local_path('contact'), class: 'text-light' %></li>
