---
title: "Winter School FAQs"
description: ""
keywords: []
url:
  legacy: "/winterschool/faq/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <h1 class="mb-4">Winter Camp Frequently Asked Questions</h1>

      <h3>Is there German language support available?</h3>
      <p>Most of the instruction will be in English, but there will be German speaking teachers available for support at Winter Camp.</p>

      <h3>Is there Japanese language support available?</h3>
      <p>We encourage Winter Camp students to learn English through immersion. Some camp instructors have intermediate Japanese language skills, but the majority of the Winter school will occur in English. All of the activities can be done with little Japanese experience.</p>

      <p class="mt-3 mb-5"><%= link_to "Return to Winter School Page >", local_path('winterschool') %></p>
    </div>

    <div class="col-3">
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>Still have questions about Winter School or would like to sign up?</p>
    <p>
      <%= link_to 'Get in touch »', local_path('contact'), class: 'btn btn-lg btn-primary', role: 'button' %>
    </p>
  </div>
</div>
