---
title: "Summer School"
description: "DSKI Makers Camp 2019"
keywords: []
url:
  legacy: "/summer-school-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>
