---
title: "Our Campus"
icon: "icons/campus.png"
description: ""
keywords: []
banner: "banners/school_01.jpg"
---

# <%= current_page.data.title %>

## Rokko Island Community and our School

The school is located on Rokko Island, an urban zone developed by Kobe city with an international atmosphere. The planned nature of the island gives it an open and natural feeling with many pedestrian areas and low traffic volume. The streets are wide and safe for children to walk to school and to access public transport. The school is located in a residential area, close to cultural facilities such as the Kobe City Koiso Memorial Museum of Art, Kobe Fashion Museum, and Kobe Artists Museum. The student body reflects the culturally diverse make-up of the community with currently 19 nationalities being represented at the school.

<div class="row mt-5">
  <div class="col-md-7">
    <h2>Our Eco friendly School</h2>
    <p>The current unique and eco-friendly Deutsche Schule Kobe/European schoolhouse was completed in 2009. It is constructed out of a sustainably sourced timber to create a two story wooden school building. The ground floor houses the Early Years Programme, including the Pre-Kindergarten and Kindergarten. The second floor includes classrooms for the Primary Years Programme. There is also a library, Art room and an EAL support room and further rooms to cater for specialist classes and project related work.</p>
    <p>The interior of the wooden construction provides a natural and ‘green’ backdrop for the members of the school community. The internal wooden panels are not treated with any toxic materials and were sourced locally with minimized ecological impact. The school was designed to provide a healthy, comfortable and low impact educational environment for all members of our life long learning community.</p>
    <p>Our school is connected to a real time Environmental Monitoring and Live Indication System (EMLIS) that provides wide ranging and crucial information about our energy impact. Click on this link for more information.</p>
  </div>

  <div class="col-md-4 offset-md-1">
    <p><a href="http://www.jia.or.jp/member/award/environment/2013/kobe.htm">
      <%= image_tag '/media/awards/JIA-環境建築賞.jpg', alt: 'Eco Award', class: 'rounded img-fluid mb-2' %><br>
      Eco Award from the Japanese Institute of Architects
    </a></p>
  </div>
</div>

## Eco Keypoints

* Carbon fixation - use of sustainable timber sources that have a low environmental impact.
* High thermal insulation level surpasses current Japan Energy Conservation Standards.
* A Low energy cooling/heating system using underground piping or ‘Earthtube’ reduces energy demands
* Wooden decks, balconies and sun awnings maximise sunshade and rain protection allowing an interplay between outdoor and indoor areas.
* Paper recycling in all classrooms
* Use of digital technologies ( E.g. Google Apps for Education) to sto replace paper usage
* Winner of a [Prestigious Eco Award from the Japanese Institute of Architects](http://www.jia.or.jp/member/award/environment/2013/kobe.htm)

<div class="row mt-5">
  <div class="col-md-4">
    <h3>Modern Building <br>Conducive to Learning</h3>
    <p>Our modern and environmentally-friendly building provides a fantastic environment for the students to learn everyday. We have bright classrooms filled with natural light, and equipped with technology which provide a comfortable place for students to focus, learn and develop.</p>
    <p>Book a tour of the school and come and visit us!</p>
    <p><%= mail_to data.config.contact.mailto + '?subject=School Tour', 'Book a tour »', class: 'btn btn-lg btn-info', role: 'button' %></p>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/campus4.jpg','photos/campus1.jpg','photos/campus2.jpg','photos/campus3.jpg','photos/campus5.jpg']
    } %>
  </div>
</div>
