---
title: "キャンパス"
icon: "icons/campus.png"
description: ""
keywords: []
banner: "banners/school_01.jpg"
---

# <%= current_page.data.title %>

## 六甲アイランドコミュニティとDSKI

DSKIは神戸市が開発した国際的な雰囲気を持つ市街地の六甲アイランドにあります。アイランドの自然は計画的に整備されており、多くの歩道があり交通量の少なさが人々に開放的でナチュラルな気分を与えてくれます。近隣の道路は幅広く、スクールまでの徒歩や公共交通機関へのアクセスも安全です。学校は住宅街にあり、神戸市立小磯記念美術館、神戸ファッション美術館、神戸ゆかりの美術館といった文化施設が近くにあります。DSKIには現在19ヵ国の生徒が在籍しており、文化的に多様な地域社会構成を反映しています。

<div class="row mt-5">
  <div class="col-md-7">
    <h2>エコフレンドリースクール</h2>
    <p>現在のユニークでエコフレンドリーなDSKIの校舎は2009年に完成しました。2階建ての木造校舎は、持続可能な木材を使用し建設されました。1回はプレ幼稚園や幼稚園といった早期教育プログラムの教室となります。2階は初等教育プログラムの教室となります。他に図書館、美術館、EALサポートルーム、そして特別授業やプロジェクト作業をするための教室があります。</p>
    <p>木材を使用し造られた空間は、学校で過ごす生徒や教職員に自然でグリーンな背景を与えてくれます。内部の木造パネルは有害物質で処理されておらず、生態系への影響を最小限に抑えられています。学校は私たちの生涯学習の全メンバーに健康的かつ快適で負担をかけない教育環境を提供できるよう設計されています。</p>
    <p>EMLIS(Environmental Monitoring and Live Indication System)と連携し、エネルギーが与える影響に関して幅広く重要な情報を得ています。詳細については、このリンクをクリックしてください。</p>
  </div>

  <div class="col-md-4 offset-md-1">
    <p><a href="http://www.jia.or.jp/member/award/environment/2013/kobe.htm">
      <%= image_tag '/media/awards/JIA-環境建築賞.jpg', alt: 'Eco Award', class: 'rounded img-fluid mb-2' %><br>
      日本建築家協会から権威ある環境建築賞
    </a></p>
  </div>
</div>

## エコ・キーポイント

* 炭素固定-環境への景況の低い持続可能な木材資源を使用しています。
* 高い断熱レベルで、現在の日本の省エネルギー基準を上回っています。
* 地下配管「アースチューブ」を使用した低エネルギー冷暖房システムがエネルギー需要を削減しています。
* 木製デッキ、バアルコニーやオーニングは日除けと防雨の役割を最大限にし、屋外と屋内の相互作用を可能としています。
* すべての教室で使用した紙をリサイクルしています。
* 紙媒体からデジタルテクノロジー（例：Google Apps for Education）への置き換えをしています。
* [日本建築家協会から権威ある環境建築賞](http://www.jia.or.jp/member/award/environment/2013/kobe.htm)を受賞しました。

<div class="row mt-5">
  <div class="col-md-4">
    <h3>現代的建築が<br>学習を促す</h3>
    <p>現代的で環境に配慮した校舎は、生徒たちの日々の学習に素晴らしい環境を提供します。テクノロジーを備え、自然光に溢れた明るい教室は、生徒が集中して学び成長できる快適な場所を提供しています。</p>
    <p>見学予約をして、ぜひ学院にお越しください！</p>
    <p><%= mail_to data.config.contact.mailto + '?subject=School Tour', '学校見学を予約 »', class: 'btn btn-lg btn-info', role: 'button' %></p>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/campus4.jpg','photos/campus1.jpg','photos/campus2.jpg','photos/campus3.jpg','photos/campus5.jpg']
    } %>
  </div>
</div>
