---
title: "School History"
icon: "icons/history.png"
description: ""
keywords: []
banner: "banners/13_header_thin.jpg"
---

<h1><%= current_page.data.title %></h1>

<p class="mt-4">Our school was founded in 1909 as a German School to serve German, Austrian and German speaking Swiss expatriates, traders and missionaries living in the Kobe area. After a long history of teaching a German curriculum the school changed its programme in 2002 and offers since then one of the most internationally recognized primary school programmes worldwide: The Primary Years Programme (PYP). </p>
<p>We became a truly international school supporting students from all over the world! Students from any country are more than welcome, we would love to extend our international community!</p>
<p>The school offers a very strong language programme focussing on 3 languages: English (Native and English as a second language), German (Native and German as a Foreign language) and Japanese (Kokugo and Japanese as a Foreign language).</p>
<p>We support our students to become competent communicators in all three languages. That makes us unique. There is no other primary school where you can learn three languages the way we teach it. This is only feasible because we have a student-teacher-ratio of 5:1 (5 students : 1 teacher). This enables us to support every student individually and let them flourish in the best possible way.</p>
<p>In 2017 came another big change for our school with the change of our name to DSK International or DSKI for short. We are very proud of our history and heritage and we look forward to developing further on our journey as a school.</p>
<p>Visit us and find out what our school is all about.</p>
