---
title: "校長挨拶"
icon: "icons/welcome.png"
description: "神戸にある国際バカロレア認定校"
keywords: []
url:
  legacy: "/about-us-jpn/principals-welcome-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/6_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <h2 class="text-primary mt-5">DSKIへようこそ</h2>
      <p>神戸ドイツ学院ヨーロピアンスクールのホームページをご覧いただいている皆様、こんにちは。</p>
      <p>我が校に関して申し上げたいことが多くあります。我々のコミュニティに参加している皆さんは、3言語の学習、インターナショナルカリキュラム(PYP)、ドイツ語カリキュラム(Thuringer Lehrplan)、個別サポートを可能とする少人数クラス、質の高い音楽プログラム、早期教育生から6年生までの全生徒への水泳レッスン、生徒と教師や両親との密な関係といった非常に重要なをアスペクトを手にしています。</p>
      <p>しかし、ここに一つ、我が校に関わったことのある全ての関係者が口を揃えて言うことがあります。それは、ここは人に温かくて思いやりのある雰囲気であるということです。ぜひ参加してください、大歓迎です!</p>
      <p class="lead">我が校の雰囲気こそが私が日本に来てこの素晴らしい学校の校長になることを選んだ理由なのです。</p>

      <h2 class="text-primary mt-2">経歴</h2>
      <p>ドイツで生まれ育ち、ケルンで教育の修士号を取得しました。学校で教頭になる前、1996年に教鞭を取りはじめました(入園前の子供から高校1年生)。2002年、オランダのハーグにあるドイツインターナショナルスクールで早期教育と初等教育の校長となるため、最愛の妻と2人の息子と共に海外に行くこととなりました。ドイツに戻り、ケルン国際スクール/インターナショナル・フリーデンシュクール・ケルンの主任校長になるまで過ごした約8年は素晴らしい時間でした。この学校は国際バカロレア認定校であり、言語の混合クラスで2ヶ国語が行き交い、指導や学習を行うPYPやDPプログラムを取り入れています。バイリンガルのように生活し、複合教室で教鞭をふるい学びました。この間に私はインターナショナルスクールマネジメントの大学院の修士号を修了しました。ケルンで6年以上滞在し、その後ジョージア共和国で医学分野の大きなプロジェクトで責任者として約1年働きました。プロジェクトを終えた後、私は神戸へとやって来ました。</p>
      <p>管理者として過ごした間も担任としてだけではなく、教科指導教師(ドイツ語、体育、宗教教育)として教鞭をとり続けました。</p>

      <h2 class="text-primary mt-2">是非お越し下さい</h2>
      <p>こうして今、心温かいプロフェッショナルなチーム、礼儀正しく好奇心旺盛で自由な心をもった子供たちと、非常に協力的なご両親と仕事ができる事にとても感謝いたします。とても素晴らしい我が校で、皆さんの生活や学習がより良いものとなるようサポートするために私はここにいます。是非とも我が校にお越しください。</p>
      <p>心を込めて</p>
      <p>フランク・ピッツナー<br>
        校長</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'people/Frank_Pitzner.png', alt: "校長挨拶", class: 'img-fluid d-block w-100' %>
    </div>
  </div>
</div>
