---
title: "Schulchronik"
icon: "icons/history.png"
description: ""
keywords: []
url:
  legacy: "/school-history/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/13_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="mt-4">Die Deutsche Schule Kobe International ist beides: eine deutsche Auslandsschule, gefördert von der deutschen Regierung, und eine IB World School. Sie wurde 1909 als deutsche Schule gegründet um deutschen, österreichischen und schweizerischen Auswanderern, Kaufleuten und Missionaren im Gebiet Kobe eine Schulbildung zu bieten. Diese Tatsache macht uns zu einer der ältesten Auslandsschulen in Japan und die zweitälteste deutsche Schule in Ostasien. </p>
      <p>Im Jahr 2002 entschied der Schulvorstand eine internationale Sektion hinzuzufügen: the European School bedient die englischsprachige Gemeinschaft und unterrichtet einen international anerkannten Lehrplan. Seitdem bieten wir Schülern Lehrpläne in Deutsch und Englisch an.</p>
      <p>2009 zog die Schule in ihr fünftes Schulgebäude auf Rokko Island um. Dieses schöne und ökologisch nachhaltige Gebäude ist Heimat einer Schulgemeinschaft, die ihre deutschen Wurzeln schätzt und ihre Kinder verschiedener Nationen und Kulturen auf eine gemeinsame Zukunft vorbereitet. </p>
  </div>
</div>
