---
title: "DSKI Staff"
description: ""
keywords: []
url:
  legacy: "/about-us/staff-en/"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>DSKI Staff</h1>

      <p class="mt-4">At DSKI, all Primary Years homeroom teachers are <strong>fluent English or German speakers</strong> and are <strong>qualified to teach</strong> in their home countries (currently Singapore, Australia, Canada, South Africa, Japan, the United States, the United Kingdom, and Germany).</p>

      <p>We have a highly qualified team of teachers who are committed to your child's education and development. If you have any questions about our specific staff, please get in touch with the school.</p>

      <p><%= mail_to 'sekretariat@dskobe.org', 'Get in touch »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>
  </div>
</div>
