---
title: "テクノロジー"
icon: "icons/signup.png"
description: ""
keywords: []
banner: "banners/12_header_thin.jpg"
---

# <%= current_page.data.title %>

21世紀の学習とICT（情報通信技術）スキルの発育を推進すると決意し、この目標を達成するため、当学院では新しいマルチメディア技術とハードウェアの領域に投資をしてきました。これらのスキル、コンセプト、能力は学習とプレゼンテーションの機会を拡げるため、探求の単元に組み込まれることになります。これら実践的なスキルを手にすることは、適切なデジタルリテラシーと市民性のカリキュラムとなり、それらはインターネットの安全性、セキュリティ、ソーシャルメディアテクノロジの使用に関連した諸問題を生徒に正確に教えることができます。ご家族は積極的にお子様と共に学習に加わることをお勧めします。現在、全ての部屋にクラスコンピューターがあります。Mac と Chromebooks のコンピュータを使用しており、生徒は優れたグラフィック編集とビデオ編集を行うことができます。

<div class="row mt-5">
  <div class="col-md-4">
    <h3>技術を備えた教室</h3>
    <p>多様なラップトップと高性能タブレットを取り揃えていることで、学生たちが現代の課題に立ち向かい、未来のキャリアで優れた成果を出せるように必要なICTリテラシーを確実に身に付けられるよう支援しています。</p>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/technology4.jpg','photos/technology3.jpg','photos/technology2.jpg']
    } %>
  </div>
</div>

## ノートパソコン

更に学院には、プレゼンテーションやデジタルリテラシーのスキル向上のためにノートパソコンがあり、毎日予約可能です。ノートパソコンは英語、ドイツ語、日本語の3言語対応となっています。追及することの横断的スキルの発育を強化するために、ノートパソコンを慎重かつ思慮深くプログラムをノートパソコンに組み込んでいます。

* 生徒個々のためにカスタマイズされた学習環境
* ライティング、リサーチスキルの向上
* 全生徒の活動の場の均衡化
* 情報通信へのアクセス
* 学校とご家庭との連携向上
* 生徒と教師のコミュニケーションを高める
* 真の問題解決型学習機会の可能性
* 生徒の参画
* コミュニケーション力、協調性、創造力を高める
* 生産性の向上
* 自発的な学習者になる
* 学習者のネットワークの一員になる
* グローバルアウトリーチの機会を作る
* 生徒主導の学習に焦点をあてる
