---
title: "Technologie"
description: ""
keywords: []
url:
  legacy: "/technology-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/12_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p>Im Einklang mit unserem Engagement für das Lernen im 21. Jahrhunderts und die ICT-Fertigkeitentraining (Information Communikation Technologie) hat die Schule in eine Reihe neuer Multimedia-Technologien und -Hardware investiert, um so diese Ziele zu unterstützen. Diese Fähigkeiten, Konzepte und Kompetenzen werden in die Unterrichtseinheiten eingebettet, um die Lern- und Präsentationsmöglichkeiten zu verbessern. Hand in Hand mit diesen praktischen Fähigkeiten wird ein geeigneter Lehrplan für „Digital Literacy and Citizenship“ sein, um die Schüler ausdrücklich über Internetsicherheit, Schutz und die Probleme die im Zusammenhang mit der Nutzung von Social Media Technologien stehen zu unterrichten. Eltern werden aktiv ermutigt, mit ihren Kindern in diese Lernumgebung einzutreten. Derzeit gibt es in jedem Raum Klassencomputer. Diese Computer sind Apple Macintosh Computer und bieten hervorragende Grafikbearbeitungs- und Videoherstellungsoptionen für die Schüler.</p>

      <h2 class="mt-5">Laptops</h2>

      <p>Zusätzlich zu dieser Entwicklung verfügt die Schule über zwei mobile Laptopwagen, die täglich gebucht werden können, um die Forschungs-, Präsentations- und digitalen Kompetenzen zu verbessern. Die Laptops haben ein Windows 8 Betriebssystem und dienen den Schülern in drei Sprachen, Englisch, Deutsch und Japanisch. Mit sorgfältiger und durchdachter Implementierung von Laptops, um die Entwicklung von transdisziplinären Fähigkeiten der Forschung zu verbessern:</p>

      <ul>
        <li>Personalisierte Lernumgebung für jeden Schüler</li>
        <li>Schreib- und Recherchefähigkeiten verbessern</li>
        <li>Richtet das Lernfeld für alle Schüler aus</li>
        <li>Zugang zu Informationen und Kommunikation</li>
        <li>Verbesserung der Verbindung zwischen Schule und Zuhause</li>
        <li>Erhöhen die Kommunikation zwischen Schülern und Lehrern</li>
        <li>Potenzial für authentische projektbasierte Lernmöglichkeiten</li>
        <li>Steigern das Engagement Ihrer Schüler</li>
        <li>Fördern Kommunikation, Zusammenarbeit und Kreativität</li>
        <li>erhöhen Produktivität</li>
        <li>fördern selbstständiges Lernende</li>
        <li>Kinder werden Sie Teil eines Netzwerks von Lernenden</li>
        <li>Schaffung von Möglichkeiten für globale Öffentlichkeitsarbeit</li>
        <li>Fokus auf schülerzentriertes Lernen</li>
      </ul>

      <h2 class="mt-5">Mobiles Smartboard</h2>

      <p>Das Interactive Mobile Smart Board ist eine wertvolle und effektive Technologie, die in allen Klassenräumen der Schule eingesetzt werden kann. Es wurde mit einem großzügigen Zuschuss von der Zentralstelle für die deutschen Auslandsschulen unterstützt. Der Kurzdistanzprojektor und der interaktive Touchscreen ermöglichen es den Schülern, es mit den Händen zu benutzen. Die Qualität der Bilder / Videos und die hervorragenden Lautsprecher sorgen für eine spannende und authentische Präsentation von Multimedia aller Art.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 pb-0">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3">
        <h3>Technologisch ausgestattete Klassenzimmer<br>
            Für das 21. Jahrhundert</h3>
        <p>Mit unserer großen Auswahl an Windows-Laptops, Hochleistungs-Macs und Mobile Smart Boards stellen wir sicher, dass unsere Schüler die nötige ICT-Kompetenz besitzen, um die modernen Herausforderungen anzugehen und sich in zukünftigen Karrieren auszuzeichnen.</p>
      </div>

      <div class="col-md-9">
        <%= partial "includes/carousel", :locals => {
          :items => ['photos/technology1.jpg','photos/technology2.jpg','photos/technology3.jpg','photos/technology4.jpg']
        } %>
      </div>
    </div>
  </div>
</div>

