---
title: "Herzlich Willkommen an der DSKI"
icon: "icons/welcome.png"
description: ""
keywords: []
url:
  legacy: "/principals-welcome-de/?lang=de"
---

<div class="container mt-5 ">
  <%= image_tag 'people/staff-photosmall.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p>Es gibt viel zu sagen über unsere Schule und jedes Mitglied der Schulgemeinschaft wird spezielle Dinge hervorheben, die er oder sie besonders wichtig findet: Das Erlernen von drei Sprachen, unser internationales Curriculum (PYP), unser deutsches Curriculum (Thüringer Lehrplan), die kleinen Klassen, durch die individuelles Fördern möglich wird, unser starkes Musikprogramm, der Schwimmunterricht für alle Kinder von 2-11 Jahren, die enge Beziehung zwischen Schülern, Lehrern und Eltern.</p>
      <p>Aber es gibt eine Sache, die ALLE Mitglieder Beteiligten nennen, nachdem sie in die Schulgemeinschaft eingetreten sind: die herzliche und fürsorgliche Atmosphäre!</p>

      <h2 class="text-primary mt-2">Das Team der DSKI</h2>
      <p>Hier in der DSKI sprechen alle Grundschullehrer fließend Englisch, oder Deutsch und besitzen die besten Lehrqualifikationen ihrer Heimatländer (darunter Australien, Kanada, Südafrika, Japan, USA, Großbritannien und Deutschland).</p>

      <p>Unser qualifiziertes Lehrerteam hat sich mit ganzem Herzen der Bildung und Entwicklung ihrer Kinder verschrieben.</p>
      <p>Herzliche Grüße,</p>
      <p>Das Team der DSKI</p>
    </div>

  </div>
</div>

