---
title: "Welcome to DSKI"
icon: "icons/welcome.png"
description: ""
keywords: []
url:
  legacy: "/about-us/principals-welcome/"
---

<div class="container mt-5 ">
  <%= image_tag 'people/staff-photosmall.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p>There is a lot to say about our school and everybody in our community has certain aspects that he or she finds most important: Learning three languages, our International curriculum (PYP), our German curriculum (Thüringer Lehrplan), the small classes allowing individual support, our strong music programme, our swimming lessons for all children from early years up to grade 6, the close relationship between students, teachers and parents.</p>
      <p>But there is one thing that ALL stakeholders mention after joining our community: the warm and caring atmosphere!</p>

      <h2 class="text-primary mt-2">DSKI Staff</h2>
      <p>At DSKI, all Primary Years homeroom teachers are <strong>fluent English or German speakers</strong> and are <strong>qualified to teach</strong> in their home countries (currently Australia, Canada, South Africa, Japan, the United States, the United Kingdom, and Germany).</p>

      <p>We have a highly qualified team of teachers who are committed to your child's education and development.</p>
      <p>Sincerely, Herzliche Grüße,</p>
      <p>The team of DSKI</p>
    </div>

  </div>
</div>
