---
title: "DSKIへようこそ"
icon: "icons/welcome.png"
description: ""
keywords: []
banner: "people/staff-photosmall.jpg"
layout: "nobanner"
---

<div class="container-fluid p-0 mb-5">
  <%= image_tag current_page.data.banner, alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

# <%= current_page.data.title %>

私たちの学校についてお伝えしたいことはたくさんあり、私たちのコミュニティの誰もが最も重要であると思うそれぞれの事柄があります： 3か国語を学ぶこと、インターナショナルカリキュラム（PYP）、ドイツのカリキュラム（チューリンゲンカリキュラム）、少人数制での個々のサポート、音楽プログラム、幼稚園児から6年生までの水泳の授業、生徒・教師・保護者の近い結びつき。

しかし、私たちのコミュニティに加わってくださる全ての人たちが口にするのは、温かく思いやりのある雰囲気です！

## DSKI 職員

DSKIでは小学部の担任教師はすべて英語またはドイツ語が堪能であり、母国にて教員資格を持っています（現在はオーストラリア、カナダ、南アフリカ、日本、米国、英国、ドイツ）。

DSKIの教師チームは子供たちの教育と発達に大変熱心に取り組んでいます。

DSKIチーム
