---
title: "Physical Education"
description: ""
keywords: []
url:
  legacy: "/what-we-offer/physical-education/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/7_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p>The P.E. program of our school is based on the PYP and the integrated Thueringer Lehrplan (curriculum). Physical education for the Early Years and Primary School students includes the development of physical, mental and social skills:</p>

      <p class="lead">Physical skills</p>
      <ul>
        <li>Developing motor abilities</li>
        <li>Facilitation of basic and specific motor skills</li>
        <li>Improving fitness abilities</li>
      </ul>

      <p class="lead">Mental skills</p>
      <ul>
        <li>Improve to maintain a positive attitude (confidently, self-critical, realistic introspection etc.) and to set high and realistic goals</li>
        <li>Develop to manage emotions (anger, frustration etc.) and to maintain concentration</li>
      </ul>

      <p class="lead">Social skills</p>
      <ul>
        <li>Developing teamwork by working with a group or a partner</li>
        <li>Extend to follow directions and rules</li>
        <li>Learn to deal with winning and losing</li>
      </ul>

      <p>Based on this curriculum we provide certain sports and physical challenges to develop those skills.</p>

      <h2 class="mt-5">Swimming</h2>

      <p>The swimming program is skill based and starts for beginners with habituation and coping the new element. The students learn how to jump in the water, to glide, to breath out under water and to move along in water. After getting used to the water the students start to learn the certain swim types. The students start with breast and back stroke and continue with crawl. For swimming specialists we also provide butterfly. Oriented on the communication concept of the Deutsche Schwimmverband (DSV) we start teaching leg movement first, followed by arm strokes and combine them at least to the total movement of the relevant swim type.</p>

      <h2 class="mt-5">Athletics</h2>

      <p>The athletics program is based on the fundamental movements: running, jumping and throwing. The students practice sprinting, running a long distance, different varieties of running and also start techniques. In case of jumping activities the students first discover the various possibilities of jumping. Thereafter certain techniques of high and long jumping were conveyed. The field of throwing consists of accurate throwing like pitching and distance throwing like javelin.</p>

      <h2 class="mt-5">Gymnastics</h2>

      <p>The field of gymnastics starts with general techniques like somersault, cartwheel and balance walk. To improve body control and develop the trust and communication skills of the students they continue with acrobatic. After setting a physical and mental basement the students learn the headstand, handstand and improve the known techniques. At the end the students put those techniques together and create a choreography on their own. Finally they perform their choreography.</p>

      <h2 class="mt-5">Games</h2>

      <p>All together we offer the main sports games basketball, soccer, volleyball and handball. We start with ball habituation and improving their motor abilities. Next is developing the fundamentals dribbling, passing & catching, shooting/kicking, setting and bumping the ball. The students can use those techniques at the 1:1, 2:2 and 3:3 games. Most important teaching point in this field is the development of the ability to play. Because of that our students practice a lot in exercises similar to the game.</p>

      <h2 class="mt-5">Dancing</h2>

      <p>First the students learn how to move to a given rhythm. They try to follow the beat with different kinds of movements. Later the students combine their movements with certain stuff like ropes, balls and aerobic boards. Thereafter the students put the learned movements together and create choreography. Finally they set up group choreography and multiply their ideas and share their knowledge.</p>

  </div>
</div>
