---
title: "Alumni"
icon: "icons/alumni.png"
description: ""
keywords: []
banner: "banners/4_header_thin.jpg"
---

# <%= current_page.data.title %>

**What happens to DSKI kids after graduation?**

We are very proud of our DSKI Alumni. While the students are at DSKI we love watching them grow academically, socially and emotionally. When the students leave we are confident we have provided them with an excellent education which will help them excel and to continue achieving in life. We are very happy to say that 90% of students are accepted to their 1st choice Kansai secondary school which we think is amazing.

### Meet some of our Alumni

<% data.alumni.each do |item| %>
<div class="row mt-4">
  <div class="col-md-2">
    <%= image_tag item.photo, alt: item.name, class: 'img-fluid d-block w-100' %>
  </div>

  <div class="col-md-10">
    <h4 class="mt-3"><%= item.name.en %></h4>
    <p><%= item.message.en %></p>
  </div>
</div>
<% end %>
