---
title: "キャリア オポテュニティ"
icon: "icons/career.png"
description: ""
keywords: []
banner: "banners/6_header_thin.jpg"
---

# <%= current_page.data.title %>

DSKI is committed to an equal opportunities employment policy. We do not discriminate against gender, nationality or racial identity and ethnicity and welcome applications from suitably qualified candidates from all backgrounds. We do ask that all candidates are willing to undergo background checks before any contract of employment is offered.

**現在募集中**

<!-- * 現在募集されている求人はありません -->
* <a href="#pos-1">School Bus Supervisor</a>
* <a href="#pos-2">Substitute Teachers</a>
* <a href="#pos-3">Saturday School English Language Assistant Teacher - 2 positions</a>
* <a href="#pos-4">Saturday School German Language Assistant Teacher - 1 position</a>

履歴書を応募用紙を[jobs@dskobe.org](mailto:jobs@dskobe.org) までお送りください

<div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;"><div class="container"></div></div>

<div id="pos-1" class="mt-5 mb-5"></div>

### School Bus Supervisor

Part time supervisor wanted to be on the school bus, supervising the students and making sure they are picked up and dropped off safely.

<div id="pos-2" class="mt-5 mb-5"></div>

### Substitute Teachers

We are always happy to hear from people who are suitably qualified or experienced teachers to work as a substitute teacher. The role would be working in either kindergarten or primary school classes covering ages from 3 - 12 years old for either quarter, half or full day blocks.

Competitive compensation offered.

Please email an up to date CV to [jobs@dskobe.org](mailto:jobs@dskobe.org).

<div id="pos-3" class="mt-5"></div>
<div id="pos-4" class="mb-5"></div>

### Saturday School English Language Assistant Teacher - 2 positions

### Saturday School German Language Assistant Teacher - 1 position

**Employment Period:** September 2022 – June 2023

The Saturday school of **Deutsche Schule International Kobe** is a Saturday morning school open to children with an English speaking background. This course is designed to meet the demand from parents for an English program structured to the specific needs of children who desire to master the English or German language or to enhance their English or German language skills.

**As an English Saturday School Asst. Teacher, you will:**

- Assist the main class teacher in teaching the English or German language class.
- Assist the main class teacher in developing daily lesson plans.
- Supervise and teach children during working hours as directed by the main class teacher.
- Follow the guidance and instructions of the main class teacher.
- Follow the guideline, directions and instructions of the Saturday School Coordinator.

**Working Conditions:**

- Starting date is on September 3rd, 2022
- 30 Saturdays throughout the school year (Exact dates can be found on the Saturday School
page of the DSKI website)
- Teaching Hours: 9:00-12:00
- Working Hours: 8:15 – 12:15

**Compensation:**

1. ¥10,000/day plus transportation at cost.
2. Completion Bonus ¥50,000 at the end of the contract period (subject to conditions).

**You will possess the following requirements:**

- Experience working with children (5-12 years of age)
- Experience with primary classroom management is an asset.
- Background in ESL, German and/or related fields.
- Experience with multi-level classes is a must.
- Relevant teaching experience in the education field.
- Bachelor degree, Teaching degree or language instruction certificate an asset
- Native English or German speakers are a must.

**Application instructions:**

1. Submit a resume, cover letter with your photograph and two references to: [saturday.coordinator@dskobe.org](mailto:saturday.coordinator@dskobe.org)
2. We thank all applicants for applying and will only contact those selected for an interview
