---
title: "Stellenangebote"
icon: "icons/career.png"
description: ""
keywords: []
url:
  legacy: "/career-opportunities/?lang=de"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="lead mt-4">Derzeit gibt es folgende Stellenangebote</p>
      <ul>
        <!--li>Zur Zeit sind keine offenen Stellen zu besetzen.</li-->
        <li><a href="#pos-1">Kindergarten Lehrer</a></li>
        <li><a href="#pos-3">Lehrerassistent</a></li>
        <li><a href="#pos-4">Teilzeit-Deutschlehrer für das Samstagsschulprogramm</a></li>
      </ul>
    </div>

    <div class="col-12 mt-5">
      <p>Bitte senden Sie ein Bewerbungsschreiben und einen vollständigen Lebenslauf per E-Mail an <a href="mailto:jobs@dskobe.org">jobs@dskobe.org</a>.</p>
    </div>

  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;">
    <div class="container">
      <p class="text-muted">Offene Stellen</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5" id="pos-1">
      <h3>Kindergarten Lehrer</h3>
      <p>Gesucht für August 2020. Treten Sie unserem Kindergarten-Team bei. Internationale Erfahrung wird bevorzugt, ist aber nicht notwendig.</p>
    </div>

    <div class="col-12 mt-5" id="pos-3">
      <h3>Lehrerassistent</h3>
      <p>Gesucht wird ein_e deutschsprachige_r Lehrerassitent_in. Beginn August 2020.</p>
    </div>

    <div class="col-12 mt-5" id="pos-4">
      <h3>Teilzeit-Deutschlehrer für das Samstagsschulprogramm</h3>

      <p class="lead">Employment Period Contract: September 2020 – June 2021 (10 months)</p>
      <p>The Saturday school of Deutsche Schule Kobe International located on Rokko Island in Kobe is a Saturday morning school open to children with a German speaking background. Our German language program is designed to meet the demand from parents for a German program structured to the specific needs of children who desire to enhance or master their individual language skills.</>

      <h5>As a Saturday School Teacher, you will:</h5>
      <ul>
        <li>Teach German language classes.</li>
        <li>Prepare and develop your own daily lesson plans based on the curriculum given to you.</li>
        <li>Supervise children during working hours.</li>
        <li>Provide feedback and evaluation of student’s progress.</li>
        <li>Follow the Saturday School teachers guidelines</li>
      </ul>

      <h5>Working Conditions:</h5>
      <ul>
        <li>30 Saturdays throughout the school year (Exact calendar dates and schedule will only be put up around May/June 2020 on the DSKI website</li>
        <li>Saturday School page)</li>
        <li>Teaching Hours: 9:00-12:00</li>
        <li>Working Hours: 8:15 – 12:15</li>
      </ul>

      <h5>Compensation:</h5>
      <ul>
        <li>¥15,000/day</li>
        <li>Transportation covered at cost i.e. your residence/our school/your residence</li>
        <li>Bonus of ¥50,000 at the end of the contract period (conditions apply)</li>
      </ul>

      <h5>You will possess the following requirements:</h5>
      <ul>
        <li>Experience working with children (5-15 years of age)</li>
        <li>Experience with primary classroom management an asset</li>
        <li>Background in ESL and/or related field.</li>
        <li>Experience with multi-level students and classes a must.</li>
        <li>Relevant teaching experience</li>
        <li>Bachelor degree, Teaching degree or language instruction certificate an asset</li>
        <li>Native German speaker a must</li>
        <li>Be responsible, hardworking and punctual </li>
      </ul>

      <h5>Application instructions:</h5>
      <ul>
        <li>Submit resume and cover letter and two references to: <a href="mailto:saturday.coordinator@dskobe.org">saturday.coordinator@dskobe.org</a></li>
        <li>We thank all applicants for applying BUT will only contact those with suitable qualifications and experience who we will call in for an interview.</li>
        <li>Please note this is a part-time contracted position only so the applicant should be residing in Japan and have a proper work, residence or spouse visa.</li>
        <li>Applicants from abroad will not be considered as we do not provide sponsorship or assistance with getting you a visa.</li>
        <li>Preference will be given to candidates who are in Japan for the long term.</li>
      </ul>
    </div>

  </div>
</div>
