---
title: "Work with Us"
icon: "icons/career.png"
description: ""
keywords: []
url:
  legacy: "/about-us/career-opportunities/"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Career Opportunities</h1>

      <p class="lead mt-4">Currently Recruiting for</p>
      <ul>
        <!--li>There are no open positions at this time</li-->
        <li><a href="#pos-1">Kindergarten Teacher</a></li>
        <li><a href="#pos-2">Kindergarten PYP Coordinator</a></li>
        <li><a href="#pos-3">Teaching Assistant</a></li>
        <li><a href="#pos-4">Part-time German Teacher for Saturday School Program</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;">
    <div class="container">
      <p class="text-muted">Open Positions</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5" id="pos-1">
      <h3>Kindergarten Teacher</h3>
      <p>To join a forward looking team, international experience preferred but not essential. To join in August 2020.</p>
    </div>

    <div class="col-12 mt-5" id="pos-2">
      <h3>Kindergarten PYP Coordinator</h3>
      <p>To join the school in August 2020 and lead the PYP development and progress of our Early Years section.</p>
    </div>

    <div class="col-12 mt-5" id="pos-3">
      <h3>Teaching Assistant</h3>
      <p>A native German speaking teaching assistant is needed to start in August 2020.</p>
    </div>

    <div class="col-12 mt-5" id="pos-4">
      <h3>Part-time German Teacher for Saturday School Program</h3>
      <p>A native German speaking teacher for our Saturday School program is needed to start in September 2020.</p>
    </div>

    <div class="col-12 mt-5">
      <p>Please email <a href="mailto:jobs@dskobe.org">jobs@dskobe.org</a> a letter of application and full CV.</p>
    </div>

  </div>
</div>
