---
title: "キャリア オポテュニティ"
icon: "icons/career.png"
description: ""
keywords: []
banner: "banners/6_header_thin.jpg"
---

# <%= current_page.data.title %>

**現在募集中**

<!-- * 現在募集されている求人はありません -->
* <a href="#pos-1">School Bus Supervisor</a>
* <a href="#pos-2">Substitute Teachers</a>
* <a href="#pos-3">Saturday School Assistant English Teacher (for the Move to Learn Program)</a>

履歴書を応募用紙を[jobs@dskobe.org](mailto:jobs@dskobe.org) までお送りください

<div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;"><div class="container"></div></div>

<div id="pos-1" class="mt-5 mb-5"></div>

### School Bus Supervisor

Part time supervisor wanted to be on the school bus, supervising the students and making sure they are picked up and dropped off safely.

<div id="pos-2" class="mt-5 mb-5"></div>

### Substitute Teachers

We are always happy to hear from people who are suitably qualified or experienced teachers to work as a substitute teacher. The role would be working in either kindergarten or primary school classes covering ages from 3 - 12 years old for either quarter, half or full day blocks.

Competitive compensation offered.

Please email an up to date CV to [jobs@dskobe.org](mailto:jobs@dskobe.org).

<div id="pos-3" class="mt-5 mb-5"></div>

### Saturday School Assistant English Teacher (for the Move to Learn Program)

**Employment type:** starting immediately (Nov/Dec 2021) – June 2022<br>
**No. of Assistant Teachers Needed:** One

The Saturday school of Deutsche Schule Kobe International is a Saturday morning school with various language programs run in English, German and French. The assistant teacher we are looking for is for our Move to Learn (MTL) Program which is a specifically designed brain development program for children from 5-12 years of age. Please check our school website for more information on the Move to Learn program. The MTL program is designed and focussed more on helping children to think and learn using their body and mind and is especially tailored to helping children with special needs and learning difficulties. It is an inclusive program and we accept all kinds of children including those with special needs and learning difficulties into this program.

**As an English Saturday School Asst. Teacher, you will:**

- Teach English and must be able to communicate in basic Japanese too for the MTL class.
- Prepare and develop daily lesson plans in English.
- Supervise children and assist the lead teacher during working hours.
- Follow the instructions of the Lead class teacher.

**Working Conditions:**

- The balance of 30 Saturdays in this school year 2021-2022 (Exact dates can be found on the Saturday School page)
- Teaching Hours: 9:00-12:00
- Working Hours: 8:15 – 12:15
- Start immediately

**Compensation:**

- ¥10,000/day
- Yearly Completion Bonus is ¥50,000 (terms apply) and will be prorated according to the number of Saturday School working days balance in the school year.
- Transportation home/school/home at cost.

**You will possess the following requirements:**

- Experience working with children (5-12 years of age) is a must.
- **Experience working with special needs children is definitely an asset but not essential.**
- Background in ESL and/or related fields.
- Experience with multi-level children and classes is a must.
- Relevant experience teaching English to children is a must..
- A Bachelor degree or teaching degree is a must. A special needs qualification or certification is an asset.
- Very good English speakers and good communication skills in Japanese are a must.
- Japanese or foreigners can apply, no age bar but should be healthy and energetic with a lot of patience..
- <u>This job is only for those living in Japan with proper valid visas.</u> We do not provide any Japanese visas and will not respond to any application received from applicants living abroad.

**Application instructions:**

- Submit a resume, cover letter with your photograph and two references to: [saturday.coordinator@dskobe.org](mailto:saturday.coordinator@dskobe.org)
- We thank all applicants for applying and will only contact those fitting the criteria for an interview. .
