---
title: "Stellenangebote"
icon: "icons/career.png"
description: ""
keywords: []
url:
  legacy: "/career-opportunities/?lang=de"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="lead mb-5 mt-5">Momentan nehmen wir Bewerbungen als Klassenlehrer an, für weitere Auskünfte klicken Sie <%= link_to 'hier', '/en/about/career-opportunities' %> (Englisch).</p>
    </div>
  </div>
</div>
