---
title: "Work with Us"
icon: "icons/career.png"
description: ""
keywords: []
url:
  legacy: "/about-us/career-opportunities/"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Career Opportunities</h1>

      <p class="lead mt-4">Currently Recruiting for</p>
      <ul>
        <!--li>There are no open positions at this time</li-->
        <li>Early Years PYP Coordinator</li>
      </ul>

      <h2>Who we are</h2>
      <p>DSK International (DSKI) is a German school abroad and an IB World School for children ages 2 to 14. At DSKI, we provide an exceptional, innovative education anchored by our German heritage and recognized for embracing the rich diversity in our learners and our world. We approach education holistically in order to ensure that students learn using their heads, their hearts and their hands. The school curriculum is based on the Primary Years Programme (PYP) of the International Baccalaureate Organisation and the Thüringen Curriculum.</p>

      <p class="lead">We foster learning through:</p>
      <ul>
        <li>Student centred learning – Inquiry based learning</li>
        <li>Excellent Education</li>
        <li>Multilingual Education – (English, Japanese, German)</li>
        <li>Holistic Learning Approach</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;">
    <div class="container">
      <p class="text-muted">Open Positions</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Early Years PYP Coordinator</h2>

      <p>To join the school in August 2020 and lead the PYP development and progress of our Early Years section through self study and evaluation, so prior experience is preferred.</p>
      <p>Please email <a href="mailto:jobs@dskobe.org">jobs@dskobe.org</a> a letter of application and full CV.</p>
    </div>

    <!--
    <div class="col-12">
      <h2>Part-time contract English and German Teachers for Saturday School</h2>
      <ul class="lead">
        <li>Saturday School English Language Teacher (2 positions)</li>
        <li>Saturday School German Language Teacher (2 positions)</li>
      </ul>

      <h4>Employment Period: September 2019 – June 2020</h4>
      <p>The Saturday school of Deutsche Schule Kobe International located on Rokko Island in Kobe is a Saturday morning school open to children with an English or German speaking background. This course is designed to meet the demand from parents for an English or German program structured to the specific needs of children who desire to enhance or master their individual language skills.</p>

      <h4>As a Saturday School Teacher, you will:</h4>
      <ul>
        <li>Teach English or German language classes</li>
        <li>Organise the classroom and learning resources and create displays to encourage a positive learning environment</li>
        <li>Prepare and develop your own daily lesson plans based on the curriculum given to you</li>
        <li>Provide feedback and evaluation of student’s progress</li>
      </ul>

      <h4>Working Conditions</h4>
      <ul>
        <li>30 Saturdays throughout the school year (Exact dates can be found on the DSKI website Saturday School page)</li>
        <li>Teaching Hours: 9:00-12:00</li>
        <li>Working Hours: 8:15 – 12:15</li>
      </ul>

      <h4>Compensation:</h4>
      <ul>
        <li>¥15,000/day</li>
        <li>Transportation covered at cost i.e. your residence/school/your residence</li>
        <li>Bonus of ¥50,000 at the end of the contract period (conditions apply)</li>
      </ul>

      <h4>You will possess the following requirements:</h4>
      <ul>
        <li>Experience working with children (5-15 years of age)</li>
        <li>Experience with primary classroom management an asset</li>
        <li>Background in ESL and/or related field</li>
        <li>Experience with multi-level classes a must</li>
        <li>Relevant teaching experience</li>
        <li>Bachelor degree, Teaching degree or language instruction certificate an asset</li>
        <li>Native English or German speaker a must</li>
      </ul>

      <h4>Application instructions:</h4>
      <ul>
        <li>Submit resume and cover letter and one reference to: <%= mail_to 'saturday.coordinator@dskobe.org', 'saturday.coordinator@dskobe.org' %></li>
        <li>We thank all applicants for applying and will only contact those selected for an interview</li>
      </ul>
    </div>
    -->
  </div>
</div>
