---
title: "Career Opportunities"
icon: "icons/career.png"
description: ""
keywords: []
banner: "banners/6_header_thin.jpg"
---

# <%= current_page.data.title %>

**Currently Recruiting for**

<!-- * There are no open positions at this time -->
* <a href="#pos-2">Marketing Officer</a>
* <a href="#pos-3">Part-time Kokugo Teacher (非常勤国語教師)</a>
* <a href="#pos-4">Part-time German Teacher for Saturday School Program</a>
* <a href="#pos-5">Part-time English Teacher for Saturday School Program</a>

Please email [jobs@dskobe.org](mailto:jobs@dskobe.org) a letter of application and full CV.

<div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;"><div class="container"></div></div>

<span id="pos-2"></span>

### Marketing Officer

We are a long established international school, in the heart of the Kobe community and we are looking to recruit a marketing officer. They would be able to make connections, promote our school within the local Japanese and international companies and grow brand recognition.<br>The successful applicant may work hours that suit them and be comfortable with English.<br>Applications to [jobs@dskobe.org](mailto:jobs@dskobe.org).

<span id="pos-3"></span>

### Part-time Kokugo Teacher (非常勤国語教師)

非常勤国語教師募集。公立小学校勤務経験・教員免許保持者。子供好きで、英語でのコミュニケーションが可能であれば尚可。2020年8月中旬より、週3日の勤務開始。写真付き履歴書と職務経歴書を[jobs@dskobe.org](mailto:jobs@dskobe.org)にお送りください。

<span id="pos-4"></span>

### Part-time German Teacher for Saturday School Program

**Employment Period Contract: September 2020 – June 2021 (10 months)**

The Saturday school of Deutsche Schule Kobe International located on Rokko Island in Kobe is a Saturday morning school open to children with a German speaking background. Our German language program is designed to meet the demand from parents for a German program structured to the specific needs of children who desire to enhance or master their individual language skills.

**As a Saturday School Teacher, you will:**

* Teach German language classes.
* Prepare and develop your own daily lesson plans based on the curriculum given to you.
* Supervise children during working hours.
* Provide feedback and evaluation of student’s progress.
* Follow the Saturday School teachers guidelines

**Working Conditions:**

* 30 Saturdays throughout the school year (Exact calendar dates and schedule will only be put up around May/June 2020 on the DSKI website
* Saturday School page)
* Teaching Hours: 9:00-12:00
* Working Hours: 8:15 – 12:15

**Compensation:**

* ¥15,500/day
* Transportation covered at cost i.e. your residence/our school/your residence
* Bonus of ¥50,000 at the end of the contract period (conditions apply)

**You will possess the following requirements:**

* Experience working with children (5-15 years of age)
* Experience with primary classroom management an asset
* Background in ESL and/or related field.
* Experience with multi-level students and classes a must.
* Relevant teaching experience
* Bachelor degree, Teaching degree or language instruction certificate an asset
* Native German speaker a must
* Be responsible, hardworking and punctual

**Application instructions:**

* Submit resume and cover letter and two references to: [saturday.coordinator@dskobe.org](mailto:saturday.coordinator@dskobe.org)
* We thank all applicants for applying BUT will only contact those with suitable qualifications and experience who we will call in for an interview.
* Please note this is a part-time contracted position only so the applicant should be residing in Japan and have a proper work, residence or spouse visa.
* Applicants from abroad will not be considered as we do not provide sponsorship or assistance with getting you a visa.
* Preference will be given to candidates who are in Japan for the long term.

<span id="pos-5"></span>

### Part-time English Teacher for Saturday School Program

* **Employment type**: September 2016 – June 2017
* **No. of Teachers Needed**: Two (2)

The Saturday school of Deutsche Schule Kobe/European School is a Saturday morning school open to children with an English speaking background. The English course is designed to meet the demand from parents for an English program structured to the specific needs of children who desire to master the English language or to enhance their English language skills.

**As an English  Saturday School Teacher, you will:**

* Teach English language classes.
* Prepare and develop daily lesson plans.
* Supervise children during working hours.
* Provide feedback and evaluation of the student's progress.

**Working Conditions:**

* 30 Saturdays throughout the school year (Exact dates can be found on the Saturday School page)
* Teaching Hours: 9:00-12:00
* Working Hours: 8:15 – 12:15
* Starting in September 2020

**Compensation:**

* ¥15,500/day

**You will possess the following requirements:**

* Experience working with children (5-15 years of age)
* Experience with primary classroom management an asset
* Background in ESL and/or related field.
* Experience with multi-level children and classes is a must.
* Relevant teaching experience
* Bachelor degree, Teaching degree or language instruction certificate an asset
* Native English speaker a must

**Application instructions:**

* Submit resume and cover letter and one reference to: [saturday.coordinator@dskobe.org](mailto:saturday.coordinator@dskobe.org)
* We thank all applicants for applying and will only contact those selected for an interview. Interviews will take place in August.
