---
title: "Stellenangebote"
icon: "icons/career.png"
description: ""
keywords: []
url:
  legacy: "/career-opportunities/?lang=de"
---

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="lead mt-4">Derzeit gibt es folgende Stellenangebote</p>
      <ul>
        <!--li>Zur Zeit sind keine offenen Stellen zu besetzen.</li-->
        <li><a href="#pos-1">Kindergarten Lehrer</a></li>
        <li><a href="#pos-2">Kindergarten PYP Koordinator</a></li>
        <li><a href="#pos-3">Lehrerassistent</a></li>
        <li><a href="#pos-4">Teilzeit-Deutschlehrer für das Samstagsschulprogramm</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;">
    <div class="container">
      <p class="text-muted">Offene Stellen</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5" id="pos-1">
      <h3>Kindergarten Lehrer</h3>
      <p>Gesucht für August 2020. Treten Sie unserem Kindergarten-Team bei. Internationale Erfahrung wird bevorzugt, ist aber nicht notwendig.</p>
    </div>

    <div class="col-12 mt-5" id="pos-2">
      <h3>Kindergarten PYP Koordinator</h3>
      <p>Gesucht für August 2020. Nehmen Sie eine Führungsrolle in der Weiterentwicklung unseres PYP Programmes des Kindergartens ein.</p>
    </div>

    <div class="col-12 mt-5" id="pos-3">
      <h3>Lehrerassistent</h3>
      <p>Gesucht wird ein_e deutschsprachige_r Lehrerassitent_in. Beginn August 2020.</p>
    </div>

    <div class="col-12 mt-5" id="pos-4">
      <h3>Teilzeit-Deutschlehrer für das Samstagsschulprogramm</h3>
      <p>Gesucht wird ein_e deutschsprachige_r Lehrer_in für das Samstagsschulprogramm. Beginn September 2020.</p>
    </div>

    <div class="col-12 mt-5">
      <p>Bitte senden Sie ein Bewerbungsschreiben und einen vollständigen Lebenslauf per E-Mail an <a href="mailto:jobs@dskobe.org">jobs@dskobe.org</a>.</p>
    </div>

  </div>
</div>
