---
title: "Career Opportunities"
icon: "icons/career.png"
description: ""
keywords: []
banner: "banners/6_header_thin.jpg"
---

# <%= current_page.data.title %>

DSKI is committed to an equal opportunities employment policy. We do not discriminate against gender, nationality or racial identity and ethnicity and welcome applications from suitably qualified candidates from all backgrounds. We do ask that all candidates are willing to undergo background checks before any contract of employment is offered.

**Currently Recruiting for**

* [ESL/Support Teacher](#pos-1)

<!-- * There are no open positions at this time -->

Please email [jobs@dskobe.org](mailto:jobs@dskobe.org) a letter of application and full CV.

<div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;"><div class="container"></div></div>

<div id="pos-1" class="mt-5 mb-5"></div>

### ESL/Support Teacher

To start in August Full Time vacancy, working in the afternoons, five days a week.

Please email an up to date CV to [jobs@dskobe.org](mailto:jobs@dskobe.org).
