---
title: "キャリア オポテュニティ"
icon: "icons/career.png"
description: ""
keywords: []
banner: "banners/6_header_thin.jpg"
---

# <%= current_page.data.title %>

**現在募集中**

<!-- * 現在募集されている求人はありません -->
* <a href="#pos-1">Kindergarten Teacher</a>
* <a href="#pos-2">Substitute Teachers</a>

履歴書を応募用紙を[jobs@dskobe.org](mailto:jobs@dskobe.org) までお送りください

<div class="jumbotron jumbotron-fluid text-center p-0 bg-white" style="border-top:5px solid #fec10d;"><div class="container"></div></div>

<span id="pos-1"></span>

### Kindergarten Teacher

A full time suitable experienced kindergarten teacher is sought for August 2021. The successful applicant will be working with students from a broad and diverse background aged between 3 and 5 years old.

<span id="pos-2"></span>

### Substitute Teachers

We are always happy to hear from people who are suitably qualified or experienced teachers to work as a substitute teacher. The role would be working in either kindergarten or primary school classes covering ages from 3 - 12 years old for either quarter, half or full day blocks.

Competitive compensation offered.

Please email an up to date CV to [jobs@dskobe.org](mailto:jobs@dskobe.org).
