---
title: "Clubs"
icon: "icons/alumni.png"
description: ""
keywords: []
media:
  infopdf: '/media/forms/Club-Offerings-Term-2-2019_-2020-1.pdf'
  signup: 'https://forms.gle/XhGFMm4XQvwEtP9W9'
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

DSK International offers a wide range of after school extracurricular club activities. From sports to arts, to cooking and much more we feel there is something for everyone!

## Sample Clubs

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">Monday</th>
      <th scope="col" style="width:20%">Tuesday</th>
      <th scope="col" style="width:20%">Wednesday</th>
      <th scope="col" style="width:20%">Thursday</th>
      <th scope="col" style="width:20%">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Baseball / Cricket<br><small>G1- 6</small></td>
      <td>Ballet/ Dance<br><small>EY - G6</small></td>
      <td>Arts & Crafts<br><small>EY - G2 (Ages 4+)</small></td>
      <td>Skateboard & Scooter<br><small>G2 - 6</small></td>
      <td>Baking<br><small>EY(Ages 3+) - G6</small></td>
    </tr>
    <tr>
      <td>Drama<br><small>G1 - G6</small></td>
      <td>Japanese Calligraphy <br><small>PS - G6</small></td>
      <td>Karate <br><small>Gr 1 - 6</small></td>
      <td>Ballet / Dance<br><small>EY - G6</small></td>
      <td>Cooking <br><small>EY(Ages 3+) - G6</small></td>
    </tr>
    <tr>
      <td>MakerSpace <br><small>PS - G2</small></td>
      <td>Singing / Music Club<br><small>G1 - 6</small></td>
      <td>Painting<br><small>G2 - G6</small></td>
      <td>Creative & Active Kids<br><small>G1 - G6</small></td>
      <td>Gymnastics<br><small>EY(Ages 3+) - PS</small></td>
    </tr>
    <tr>
      <td>Math Tutoring<br><small>G1 - 6</small></td>
      <td></td>
      <td>Soccer <br><small>PS - Gr 2</small></td>
      <td>Soccer <br><small>Gr 3 - 6</small></td>
      <td>Basketball<br><small>Gr 1 - 6</small></td>
    </tr>
    <tr>
      <td>Music<br><small>by Invitation</small></td>
      <td></td>
      <td></td>
      <td>Lego<br><small>PS - G4</small></td>
      <td>Math & Board Games<br><small>G1 - 6</small></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Heimat- und Sachkunde<br><small>PS - 6</small></td>
      <td>Kanji Club<br><small>G2 - 6</small></td>
    </tr>
  </tbody>
</table>
