---
title: "PTA"
icon: "icons/pta.png"
description: ""
keywords: []
banner: "banners/4_header_thin.jpg"
---

<h1>Parent Teacher Association</h1>

<p>The School Parent Teacher Association (PTA) consists of the parent and the teacher representatives from the Middle/Primary School and Early Years / Kindergarten Classes of Deutsche Schule Kobe/European School.</p>

<p>To contact us, please send an email to <a href="mailto:pta@dskobe.org">pta@dskobe.org</a>.</p>

<table class="table table-sm mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col">PTA Positions</th>
      <th scope="col">Names</th>
    </tr>
  </thead>
  <tbody>
  <% data.pta.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.person %></td>
    </tr>
  <% end %>
  </tbody>
</table>

