---
title: "スポンサー"
icon: "icons/sponsors.png"
description: ""
keywords: []
banner: "banners/2_header_thin.jpg"
---

# <%= current_page.data.title %>

<style>
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}
</style>

神戸ドイツ学院インターナショナルスクールは、以下の企業さま/団体さまよりて多くのご支援をいただき、深く御礼申し上げます。ご支援やご寄付は、質の高い教育の提供に役立っています。

スポンサーシップをご希望いただける場合は[marketing@dskobe.org](mailto:marketing@dskobe.org)までご連絡ください。

<h2 class="mt-5">A レベル</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-6 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
  </div>
</div>

<h2 class="mt-5">B レベル</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-4 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-4 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
  </div>
</div>

<h2 class="mt-5">サポーター</h2>
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
    <div class="col-md-3 mt-4">
      <a href="#">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid d-block w-100" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Sponsor Logo</text></svg>
      </a>
    </div>
  </div>
</div>
