---
title: "スポンサー"
icon: "icons/sponsors.png"
description: ""
keywords: []
banner: "banners/2_header_thin.jpg"
---

# <%= current_page.data.title %>

<style>
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}
</style>

神戸ドイツ学院インターナショナルスクールは、以下の企業さま/団体さまよりて多くのご支援をいただき、深く御礼申し上げます。ご支援やご寄付は、質の高い教育の提供に役立っています。

スポンサーシップをご希望いただける場合は[marketing@dskobe.org](mailto:marketing@dskobe.org)までご連絡ください。

<h2 class="mt-5">A レベル</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card h-100 p-4">
        <a href="https://www.yanmar.com/jp/" class="mx-auto">
          <%= image_tag '/assets/images/sponsors/yanmar.jpg', alt: 'YANMAR', class: 'card-img-top' %>
        </a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
  </div>
</div>

<h2 class="mt-5">B レベル</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100 p-3">
        <a href="https://www.yanmar.com/jp/" class="mx-auto">
          <%= image_tag '/assets/images/sponsors/yanmar.jpg', alt: 'YANMAR', class: 'card-img-top' %>
        </a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
  </div>
</div>

<h2 class="mt-5">サポーター</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4">
    <div class="col mb-4">
      <div class="card h-100 p-2">
        <a href="https://www.yanmar.com/jp/" class="mx-auto">
          <%= image_tag '/assets/images/sponsors/yanmar.jpg', alt: 'YANMAR', class: 'card-img-top' %>
        </a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 bg-light">
        <a href="#" class="mx-auto my-5">Sponsor Logo</a>
      </div>
    </div>
  </div>
</div>
