---
title: "スポンサー"
icon: "icons/sponsors.png"
description: ""
keywords: []
banner: "banners/2_header_thin.jpg"
---

# <%= current_page.data.title %>

神戸ドイツ学院インターナショナルスクールは、以下の企業さま/団体さまよりて多くのご支援をいただき、深く御礼申し上げます。ご支援やご寄付は、質の高い教育の提供に役立っています。

スポンサーシップをご希望いただける場合は[marketing@dskobe.org](mailto:marketing@dskobe.org)までご連絡ください。

<h2 class="mt-5">スポンサー</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <% data.sponsors.sponsor.each do |item| %>
    <div class="col mb-4">
      <div class="card card-body h-100 justify-content-center p-3">
        <% link_to item.website, class: '' do %>
          <%= image_tag item.image, alt: item.name.ja, class: 'card-img-top' %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2 class="mt-5">サポーター</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4">
    <% data.sponsors.supporter.each do |item| %>
    <div class="col mb-4">
      <div class="card card-body h-100 justify-content-center p-2">
        <% link_to item.website, class: '' do %>
          <%= image_tag item.image, alt: item.name.en, class: 'card-img-top' %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
