---
title: "Cours de français"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
i18n: "fr"
---

<h1><%= current_page.data.title %></h1>

<p>Nous sommes heureux d'annoncer la création d’une nouvelle section de français à l’école DSKI pour les élèves du primaire, qui ouvrira ses portes en août 2020.</p>

<p>Veuillez nous contacter directement si vous êtes intéressés ou pour des informations complémentaires.</p>

<p>Nous intégrerons le français à notre programme de Primaire du Baccalauréat International afin d'offrir une approche complémentaire à la communauté française et de répondre aux besoins des Français qui sont:</p>

<ul>
  <li>Ici en affectation court terme et qui réintégront le système scolaire français ou déménageront dans une autre école internationale, en utilisant l'anglais comme langue d'enseignement</li>
  <li>Ici en affectation long terme et souhaitant maintenir le niveau de leur enfant en français</li>
  <li>Des orateurs compétents, qui ont vécu dans des pays francophones et qui souhaitent maintenir leur niveau de français</li>
</ul>

<p>Le langage est l'outil fondamental de la communication, notre programme offrira un niveau de compétence permettant aux étudiants de pouvoir communiquer au niveau d’un locuteur natif . Combiné avec des cours d'anglais, nous offrons une opportunité unique d'avoir une éducation bilingue. Nous proposons également le japonais comme langue maternelle pour les familles binationales.</p>

<p>Notre programme de mathématiques est basé sur Cap Maths mais enseigné avec une approche permettant de développer la curiosité, stimuler la pensée et l'intérêt des enfants. Nous relions également les mathématiques à nos autres unités d’enseignement, en développant une compréhension sur la manière dont les sujets s’assemblent.</p>

<p>En tant qu'école internationale (IB), nous sommes pleinement accrédités pour offrir le PYP et nos unités d'enseignement proposent un programme d'études transdisciplinaire enseigné en anglais. Nous nous concentrons sur la pensée critique et le développement des compétences générales ainsi que sur les universitaires traditionnels.</p>

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-fr"></span> Cours de français natif</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Mathématiques et langue française</li>
      <li>Tous les jours une leçon en français de mathématiques et de langue pour une durée de 50 minutes</li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-gb"></span> Cours d'anglais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les unités de cours sont en anglais avec un professeur principal</li>
      <li>Les étudiants de la section française peuvent suivre des cours d'anglais (ESL) si nécessaire</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header font-weight-bold"><span class="flag-icon flag-icon-jp"></span> Cours de japonais</div>
  <div class="card-body p-3">
    <ul class="list-unstyled mb-0">
      <li>Les étudiants entreprennent 3 leçons de japonais de 50 minutes en KOKUGO (japonais comme langue maternelle) ou en JFL (japonais comme langue étrangère)</li>
    </ul>
  </div>
</div>
