---
title: "Our Community"
icon: "icons/sponsors.png"
description: ""
keywords: []
banner: "banners/11_header_thin.jpg"
---

<h1><%= current_page.data.title %></h1>

<p>Here at DSK International, we have an engaged and inclusive community reflected in the high involvement of parents, partners, teachers and alumni. This high involvement and sense of inclusiveness is passed onto the students into every age group.</p>
<p>We provide an environment that nurtures the academic, emotional, social, physical and creative growth of children of all ages, cultural backgrounds and experiences. As an IB World School, we strive to ignite a passion for lifelong learning and a desire to make positive change in the world.</p>
<p>When you enrol your child at DSK International, your family is joining a wider community. This has always been the case ever since the founding of the school in 1909. For more than a century, DSK International has taken great pride in the important community partnerships, relationships and connections which provide a support network and enable students to achieve their learning outcomes.</p>
<p>We encourage parents and alumni to keep in touch with the school during enrolment and also after a child's graduation. We value our community's skills and knowledge and are also very proud of our alumni.</p>

<p class="lead">Interested in joining our vibrant community? Please <%= link_to "get in touch", "contact" %> to discuss the range of opportunities available for parents, partners and alumni?</p>
