---
title: "授業料"
icon: "icons/fee.png"
description: ""
keywords: []
url:
  legacy: "/about-us-jpn/school-fees-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-7">
      <h1><%= current_page.data.title %></h1>

      <p>インターナショナルスクールを選ぶということは、多くのご家族にとって非常に大きな投資になります。この度、お子様のためにDESKをご検討いただきありがとうございます。特別な事情の場合、授業料の軽減を行うこともありますが、その際は全詳細を記載した申請書を理事会に提出する必要があります。</p>

      <h2 class="mt-5">クラブ活動</h2>

      <p>年度の半分(9月から)の料金は21,000円です。</p>
      <p>クラブ活動に参加の場合、お子様の送迎バスはありません、他の親御様と相乗り等でのご対応をお願いします。</p>
    </div>

    <div class="col-md-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>関連ドキュメント</h3>
      <ul class="list-unstyled">
        <li><%= link_to '2019/2020 学校費用', '/media/fees/Fee-Structure-20192020.pdf' %></li>
      </ul>
    </div>
  </div>
</div>
