---
title: "クラス分け概要：DESKの入学方法"
description: ""
keywords: []
url:
  legacy: "/admissions/admissions-placement-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-8">
      <h1>クラス分け概要</h1>

      <p>子供たちは入学年の9月1日*時点の年齢によって各プログラムに分けられます。</p>
      <p>*9月生まれのお子さまについては、トライアルディや試験での結果と参考書類に基づいて、どのレベルに入学するかを決定します。</p>

      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">プログラム　レベル</th>
            <th scope="col">9月1日時点のお子様の年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>プレ幼稚園</td>
            <td>2歳</td>
          </tr>
          <tr>
            <td>幼稚園</td>
            <td>3歳</td>
          </tr>
          <tr>
            <td>プレスクール</td>
            <td>5歳</td>
          </tr>
          <tr>
            <td>1年生</td>
            <td>6歳</td>
          </tr>
          <tr>
            <td>2年生</td>
            <td>7歳</td>
          </tr>
          <tr>
            <td>3年生</td>
            <td>8歳</td>
          </tr>
          <tr>
            <td>4年生</td>
            <td>9歳</td>
          </tr>
          <tr>
            <td>5年生</td>
            <td>10歳</td>
          </tr>
          <tr>
            <td>6年生</td>
            <td>11歳</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3 offset-md-1">
      <h3>戻ります</h3>
      <ul class="list-unstyled">
        <li><%= link_to '入学へ', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>
