---
title: "入学時期"
icon: "icons/times.png"
description: ""
keywords: []
url:
  legacy: "/admissions/enrolment-times-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <p>新入生は通常、新学期（9月、2月）月初での入学が認められています。ただし、特別措置として別時期に個別に入学することも可能です。</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <h3>戻る</h3>
      <ul class="list-unstyled">
        <li><%= link_to '入学へ', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>
