---
title: "Enrolment Times"
description: ""
keywords: []
url:
  legacy: "/admissions/enrolment-times/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-8">
      <h1>Enrolment Times</h1>

      <p>New students are usually admitted at the beginning of new terms (<strong>September</strong> and <strong>February</strong>). However, it is possible for individual students to enter the school at other times by special arrangement.</p>
    </div>

    <div class="col-3 offset-md-1">
      <h3>Go Back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Take me back to Admissions', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>
